<!--============== 관리자 페이지 메인 =================-->
<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:13 max-w:9 w:10p pr:4 pl:4 md:pr:0 md:pl:0">
</main>

    <!-- ============== 검색창 시작 ================= -->
    <section class="d:flex jc:center w:10p">
        <h1 class="d:none">검색</h1>
        <!--        style="width:374px;"-->
        <div class="pos:relative w:10p md:w:8 h:2">
            <label>
                <span class="d:none">상품검색</span>
                <input type="text" class="n-textbox border-color:main-6 bd-radius:4" placeholder="검색어를 입력해 주세요">
            </label>
            <button class="pos:absolute m-right:1" style="top:4px; right:8px;"><span class="icon icon:magnifying_glass icon-size:3 icon-color:base-5"></span></button>
        </div>
    </section>
    <!-- ============== 검색창 끝 ================= -->
