<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="user/inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main  layout:fragment="main">
        <nav>
        <h1>브래드 크럼</h1>
        <ul>
            <li><a href="">홈</a></li>
            <li><a href="">></a></li>
        </ul>
        </nav>

        <section>
            <h1>상품카드</h1>
            <div>
                <div><img src="" alt="">대표사진</div>
                <div>
                <div><a href="">사진1</a></div>
                <div><a href="">사진2</a></div>
                <div><a href="">사진3</a></div>
                <div><a href="">사진4</a></div>
                </div>
            </div>
            <div>
                <div>
                <div>한줄설명</div>
                <div>상품명</div>
                <div>상품가격</div>
                <div>
                    <div>추천수</div>
                    <div><a href="">공유하기</a></div>
                </div>
                <div>
                    <span>용량</span>
                    <span>5~6개입/1kg내외</span>
                </div>
                <div>
                    <span>보관방법</span>
                    <span>신선</span>
                </div>
                <div>
                    <span>배송비</span>
                    <span>가격(3만원 이상 무료)</span>
                </div>

                </div>
                <nav>
                <h1>버튼</h1>
                <ul>
                    <li><a href="">장바구니</a></li>
                    <li><a href="">구매하기</a></li>
                </ul>
                </nav>
            </div>
        </section>

        <nav>
        <h1>탭</h1>
        <ul>
            <li><a href="">상품정보</a></li>
            <li><a href="">후기</a></li>
            <li><a href="">Q&A</a></li>
        </ul>
        </nav>

        <section>
            <h1>상품정보</h1>
            <div><img src="" alt="">사진</div>
        </section>

        <section>
            <h1>후기</h1>
            <div><img src="" alt="">사진</div>

            <section>
                <h1>사진 후기</h1>
                <div><a href="">전체보기</a></div>
                <div><a href="">사진</a></div>
            </section>
            <section>
                <h1>후기</h1>
                <ul>
                    <li>
                        <span>기농태그</span>
                        <span>구매후기</span>
                        <span>작성자</span>
                        <span>작성일</span>
                    </li>
                    <li>
                        <a href="">
                            <span>기농테그명</span>
                            <span>구매후기 내용</span>
                            <span>작성자명</span>
                            <span>작성일자</span>
                        </a>
                    </li>
                    <li>상세내용</li>
                </ul>
            </section>
        </section>

        <section>
            <h1>Q&A</h1>
            <section>
                <h1>상품 Q&A</h1>
   
                <div><button>문의 하기</button></div>                
                <ul>
                    <li><span>문의 유형</span><span>제목</span><span>작성자</span><span>답변 상태</span><span>등록일</span></li>
                    <li><a href=""><span>문의유형명</span><span>제목명</span><span>작성자명</span><span>답변상태</span><span>등록날짜</span></a></li>
                    <li>답변내용</li>
                </ul>
            </section>
        </section>
  </main>
</body>
</html>