<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.coupon.CouponHistoryRepository">

    <select id="findAll" resultType="CouponHistoryView">
		select
			*
		from COUPON_HISTORY_VIEW
		<where>
			<if test="memberId != null">
				member_id = #{memberId}
			</if>
		</where>
	</select>

	<select id="findAllAvail" resultType="CouponHistoryView">
		select
		*
		from COUPON_HISTORY_VIEW
		where 1=1
		and member_id = #{memberId}
		and USED_DATE IS NULL
	</select>

	<select id="findAllUnavail" resultType="CouponHistoryView">
		select
		*
		from COUPON_HISTORY_VIEW
		where 1=1
		and member_id = #{memberId}
		and USED_DATE IS NOT NULL
	</select>

	<update id="update" parameterType="CouponHistory">
		update COUPON_HISTORY
		set USED_AMT = #{usedAmt}, USED_DATE = current_timestamp(), ORDER_ID = #{orderId}
		where MEMBER_id = #{memberId} and id = #{id} and COUPON_ID = #{couponId};
	</update>

</mapper>