<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.coupon.CouponHistoryRepository">
    <select id="findAll" resultType="CouponHistory">
		select
			*
		from coupon_history
		<where>
			<if test="memberId != null">
				member_id = #{memberId}
			</if>
		</where>
	</select>	
</mapper>