<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.ProductQnaRepository">
	<!-- 모든 상품별 문의. 해당 문의는 회원별 혹은 상품별로 검색할 수도 있어야 함-->
    <select id="findAll" resultType="ProductQna">
		select
			*
		from productQna
		<where>
			<if test="memberId != null">
				member_id = #{memberId}
			</if>
			<if test="productId != null">
				product_id = #{productId}
			</if>
		</where>
	</select>

	
	<select id="findById" resultType="ProductQna">
		select
			*
		from productQna
		where id = #{id}
	</select>
</mapper>