[class^="btn"]::before{
    display: block;
    font-size: 11px;
}
.btn-minus::before {
    content: "\2500";

}

.btn-minus::before:hover{
    color: var(--color-main-6);
}

.btn-plus::before {
    content: "\253C";
}

[class^="btn"]::before:hover,
[class^="btn"]::before:active{
    color: var(--color-main-6);
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 780px) {
    .info{
        display: grid;
        justify-content: center;

        gap: 16px;
        grid-template-columns: 2fr 0.6fr 1fr;
    }

    .info > * {
        margin-top: 24px;
    }

}