.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cursor\:pointer:hover,
.cursor\:pointer:active{
    color: var(--color-sub-5);
}

.icon\:minus:hover::before,
.icon\:minus:active::before{
    background-color: var(--color-sub-2);
}

.icon\:plus:hover::before,
.icon\:plus:active::before{
    background-color: var(--color-sub-5);
}


@media (min-width: 780px) {
    .info{
        display: grid;
        justify-content: center;

        gap: 16px;
        grid-template-columns: 2fr 0.6fr 1fr;
    }

    .info > * {
        margin-top: 24px;
    }

}