<!doctype html>
<html lang="ko">
    <aside class="aside d:none">
        <h1>전체메뉴</h1>
        <ul>
            <li><a href="user/product/list?c=1">과채</a></li>
            <li><a href="user/product/list?c=2">양념</a></li>
            <li><a href="user/product/list?c=3">가공식품</a></li>
            <li><a href="/user/notice/list">공지사항</a></li>
            <li><a href="/user/mypage/index">마이페이지</a></li>
            <li><a href="/user/recents/list">최근 본 상품</a></li>
            <li><a href="/user/inquiry/faq">고객센터</a></li>
        </ul>
    </aside>
</html>