<!DOCTYPE html>
<html lang="ko">
    <nav class="category d:none md:d:flex bg-color:base-1 top:3 pos:sticky bd-bottom bd-color:base-2 zi:1">
        <h1 class="d:none">PC 카테고리</h1>
        <ul class="d:flex ai:center h:4 jc:space-between w:10p">
          <li><a href="">과일/채소류</a></li>
          <li><a href="">양념/장류</a></li>
          <li><a href="">반찬/가공식품류</a></li>
          <li><a href="">주문 내역</a></li>
          <li><a href="">공지사항</a></li>
          <li><a href="">고객센터</a></li>
        </ul>

      </nav>
    
      <nav class="category d:flex md:d:none bg-color:base-1 top:2 pos:sticky bd-bottom bd-color:base-2 zi:1">
        <h1 class="d:none">모바일 카테고리</h1>
        <ul class="d:flex ai:center h:2 jc:space-between w:10p m-side">
          <li><a href="">과채</a></li>
          <li><a href="">양념</a></li>
          <li><a href="">가공식품</a></li>
          <li><a href="">공지사항</a></li>
          <li><a href="">고객센터</a></li>
        </ul>
      </nav>
</html>