<!DOCTYPE html>
<html lang="ko">
    <nav class="category"> 
        <h1>PC 카테고리</h1>
        <ul>
          <li><a href="">과일/채소류</a></li>
          <li><a href="">양념/장류</a></li>
          <li><a href="">반찬/가공식품류</a></li>
          <li><a href="">주문 내역</a></li>
          <li><a href="">공지사항</a></li>
          <li><a href="">고객센터</a></li>
        </ul>
      </nav>
    
      <nav>
        <h1>모바일 카테고리</h1>
        <ul>
          <li><a href="">과채</a></li>
          <li><a href="">양념</a></li>
          <li><a href="">가공식품</a></li>
          <li><a href="">공지사항</a></li>
          <li><a href="">고객센터</a></li>
        </ul>
      </nav>
</html>