<!DOCTYPE html>
<html lang="ko">
    <nav class="category d:none md:d:flex w:10p max-w:10 top:3 pos:sticky bd-bottom bd-color:base-2 zi:1">
        <h1 class="d:none">PC 카테고리</h1>
        <ul class="n-tabbar d:flex h:4 jc:space-between fl-grow:1 md:mr:0 md:ml:0">
          <li class="active h:10p"><a href="" class="h:10p fw:3">과일/채소류</a></li>
          <li class="disabled h:10p"><a href="" class="h:10p">양념/장류</a></li>
          <li class="disabled h:10p"><a href="" class="h:10p">반찬/가공식품류</a></li>
          <li class="disabled h:10p"><a href="" class="h:10p">주문 내역</a></li>
          <li class="disabled h:10p"><a href="" class="h:10p">공지사항</a></li>
          <li class="disabled h:10p"><a href="" class="h:10p">고객센터</a></li>
        </ul>

      </nav>
    
      <nav class="category d:flex md:d:none w:10p bg-color:base-1 top:2 pos:sticky bd-bottom bd-color:base-2 zi:1">
        <h1 class="d:none">모바일 카테고리</h1>
        <ul class="n-tabbar d:flex h:2 jc:space-between fl-grow:1 mr:4 ml:4">
          <li class="active h:10p"><a href="" class="h:10p fw:3">과채</a></li>
          <li class="disabled h:10p"><a href="" class="h:10p">양념</a></li>
          <li class="disabled h:10p"><a href="" class="h:10p">가공식품</a></li>
          <li class="disabled h:10p"><a href="" class="h:10p">공지사항</a></li>
          <li class="disabled h:10p"><a href="" class="h:10p">고객센터</a></li>
        </ul>
      </nav>
</html>