<!DOCTYPE html>
<html lang="ko">
    <footer class="footer bg-color:base-2 w:10p mt:10 p:5">
        <section>
            <h1 class="d:none">하단정보</h1>
            <div class="d:flex fl-dir:column gap:4">
                <div class="fs:5 fw:3 mb:2">(주)기농이네</div>
                <div>상호 : 주식회사 기농이네<div>
                <div>사업자 번호 : 198-89-91588</div>
                <div>사무실 : 서울특별시 종로구 종로1길 50 (중학동, 더케이트윈타워) A동 11층 기농이네마켓</div>
            </div>
            <div class="mt:2">ⓒginong.co.kr All Rights Reserved</div>
        </section>
    </footer>
</html>