<!DOCTYPE html>
<html lang="ko">
    <header class="header">
        <div>
          <h1><a href="">로고</a></h1>
          <div>
            <nav>
              <h1>top</h1>
              <ul>
                <li><a href="">로그인</a></li>
                <li><a href="">로그아웃</a></li>
                <li><a href="">회원가입</a></li>
              </ul>
            </nav>
  
            <nav>
              <h1>down</h1>
              <ul>
                <li><a href="">검색</a></li>
                <li><a href="">마이페이지</a></li>
                <li><a href="">장바구니</a></li>
                <li><a href="">햄버거</a></li>
              </ul>
            </nav>
          </div>
        </div>
    </header>
</html>