<!DOCTYPE html>
<html lang="ko">
    <header class="header w:10p d:flex h:5 md:h:6 bg-color:base-1 top:1 pos:sticky bd-bottom bd-color:base-2 zi:1">
        <div class="d:flex jc:space-between max-w:10 h:5 md:h:6 fl-grow:1 mr:4 ml:4 md:mr:0 md:ml:0">
          <h1 class="d:flex ai:center" ><a href="/user/index" >
                <img src="/img/logo-leaf.png" width="100" height="57.69" class="d:none"/>
                <img src="/img/logo-hat.png" width="100" height="50.3" class=" md:d:none" />
                <img src="/img/logo-leaf.png" width="140" height="80.77" class="d:none"/>
                <img src="/img/logo-hat.png" width="140" height="70.41" class="d:none md:d:inline" />
              </a>
          </h1>
          <div class="d:flex fl-dir:column ac:center jc:center gap:2">
            <nav class="d:none md:d:flex ai:center">
              <h1 class="d:none">top</h1>
              <ul class="d:flex gap:3">
                <li><a href="/user/signin" class="color:main-6 fw:3">로그인</a></li>
                <li class="d:none"><a href="" class="color:main-6 fw:3">로그아웃</a></li>
                <li><a href="/user/signup/index" class="color:main-6 fw:3">회원가입</a></li>
              </ul>
            </nav>
  
            <nav class="d:flex ">
              <h1 class="d:none">down</h1>
              <ul class="d:flex gap:3">
                <li><a href="" class="icon icon:magnifying_glass icon-size:5">검색</a></li>
                <li class="d:none md:d:block"><a href="/user/mypage/index" class=" icon icon:user icon-size:5">마이페이지</a></li>
                <li><a href="/user/cart" class="icon icon:shopping_cart_simple icon-size:5">장바구니</a></li>
              </ul>
            </nav>
          </div>
        </div>
    </header>
</html>
<!--우리 사장 님 화 이 팅 ^^ ~ S2 ~~ -->