<!DOCTYPE html>
<html lang="ko">
<nav class="navi d:flex md:d:none bg-color:base-1 bottom:1 pos:sticky bd-top bd-color:base-2">
    <h1 class="d:none">네비게이션바</h1>
    <ul class="d:flex fl-grow:1 ai:center jc:space-around h:4">
        <li>
            <a href="" class="d:flex ai:center fl-dir:column gap:1">
                <span class="icon icon:list icon-size:5">아이콘</span>
                <span class="fs:1">전체메뉴</span>
            </a>
        </li>
        <li>
            <a href="" class="d:flex ai:center fl-dir:column gap:1">
                <span class="icon icon:house icon-size:5">아이콘</span>
                <span class="fs:1">홈</span>
            </a>
        </li>
        <li>
            <a href="" class="d:flex ai:center fl-dir:column gap:1">
                <span class="icon icon:user icon-size:5" >아이콘</span>
                <span class="fs:1">마이페이지</span>
            </a>
        </li>
        <li>
            <a href="" class="d:flex ai:center fl-dir:column gap:1">
                <span class="icon icon:recents icon-size:4">아이콘</span>
                <span class="fs:1">최근 본 상품</span>
            </a>
        </li>
    </ul>
</nav>
</html>