<!DOCTYPE html>
<html lang="ko">
<section class="navi d:flex md:d:none w:10p bg-color:base-1 bottom:1 p:4 pos:sticky">

    <div class="pay-box d:flex fl-dir:row ai:center gap:2 w:10p">
        <div class="icon icon:heart icon-color:main-6 icon-size:4 h:2 bd bd-color:base-3 bd-radius:2" style="width: 46px">찜버튼</div>
        <div class="d:flex ai:center fl-grow:1 gap:1">
            <button class="n-btn n-btn-type:outline w:10p">장바구니</button>
            <button class="n-btn w:10p">바로 구매하기</button>
        </div>
    </div>
</section>
</html>