<!DOCTYPE html>
<html lang="en">
<nav class="navi">
    <h1>네비게이션바</h1>
    <ul>
        <li>
            <a href="">
                <span>아이콘</span>
                <span>전체메뉴</span>
            </a>
        </li>
        <li>
            <a href="">
                <span>아이콘</span>
                <span>홈</span>
            </a>
        </li>
        <li>
            <a href="">
                <span>아이콘</span>
                <span>마이페이지</span>
            </a>
        </li>
        <li>
            <a href="">
                <span>아이콘</span>
                <span>최근 본 상품</span>
            </a>
        </li>
    </ul>
</nav>
</html>