<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="user/inc/layout-detail">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/js/user/product/detail.js" defer></script>
    <link rel="stylesheet" href="/css/user/product/detail.css">
  </head>
  <body>
    <main layout:fragment="main" class=" d:flex fl-dir:column gap:8 md:gap:20  w:10p max-w:20">
    <!--    Mobile================================================================================================-->
    <section class="d:flex W:10p fl-dir:column gap: md:d:none">
      <h1></h1>
      <div class="d:flex fl-dir:column gap:7">
        <div class="d:flex fl-dir:column gap:5">
          <nav>
            <h1 class="d:none">브래드 크럼</h1>
            <ul style="display: flex">
              <li><a href="">홈</a></li>
              <li><a href="">></a></li>
              <li><a href="">과일/채소류</a></li>
            </ul>
          </nav>
          <h1 class="d:none">상품카드</h1>
          <div>
            <div><img class="display:flex w:10p " src="/img/Meongmeong.jpg" alt=""></div>
            <div class="d:none">
              <div><a href="">사진1</a></div>
              <div><a href="">사진2</a></div>
              <div><a href="">사진3</a></div>
              <div><a href="">사진4</a></div>
            </div>
          </div>
        </div>

          <div class="d:flex fl-dir:column gap:5">

            <div class="d:flex fl-dir:column gap:3">
              <div class="fs:2">한줄설명</div>
              <div class="fs:3">상품명</div>
              <div class="fs:3">상품가격</div>
            </div>

            <div class="n-tabbar n-tab-grow ai:stretch">
              <div class="n-tab">추천수</div>
              <div class="n-tab"><a href="">공유하기</a></div>
            </div>

            <div class="d:flex fl-dir:column gap:3">

              <div class="d:flex gap:11 jc:space-between fs:2">
                <span>용량</span>
                <span>5~6개입/1kg내외</span>
              </div>
              <div class="d:flex gap:11 jc:space-between fs:2">
                <span>보관방법</span>
                <span>신선</span>
              </div>
              <div class="d:flex gap:11 jc:space-between fs:2">
                <span>배송비</span>
                <span>가격(3만원 이상 무료)</span>
              </div>
              <div class="d:flex gap:11 jc:space-between fs:2">
                <span>상품특징</span>
                <span>국내산</span>
              </div>

            </div>

          </div>
      </div>
    </section>
    <!--    PC=================================================================================================-->
    <section class="d:flex fl-dir:column gap: d:none md:d:block w:10p">
      <h1 class="d:none"></h1>
      <div class="d:flex fl-dir:column gap:7">
        <nav>
          <h1 class="d:none">브래드 크럼</h1>
          <ul style="display: flex">
            <li><a href="">홈</a></li>
            <li><a href="">></a></li>
            <li><a href="">과일/채소류</a></li>
          </ul>
        </nav>
        <div class="d:flex">
          <div class="d:flex fl-dir:column jc:space-between">
              <div><img src="/img/Meongmeong.jpg" alt="" style="width: 414px; height: 440px;"></div>
              <div class="d:flex jc:space-between">
                <div>
                  <a href=""><img src="/img/Meongmeong.jpg" alt="사진1" style="width: 90px; height: 90px;"></a>
                </div>
                <div>
                  <a href=""><img src="/img/Meongmeong.jpg" alt="사진2" style="width: 90px; height: 90px;"></a>
                </div>
                <div>
                  <a href=""><img src="/img/Meongmeong.jpg" alt="사진3" style="width: 90px; height: 90px;"></a>
                </div>
                <div>
                  <a href=""><img src="/img/Meongmeong.jpg" alt="사진4" style="width: 90px; height: 90px;"></a>
                </div>
              </div>
            </div>
            <section class="d:flex fl-dir:column ml:9 jc:space-between w:10p gap:7">
              <h1 class="d:none">상품 상세</h1>
              <div class="d:flex fl-dir:column gap:7">
                <div class="d:flex fl-dir:column gap:3">
                  <div>껍질째 드실 수 있는 달콤하고 신선한 감</div>
                  <div class="fw:3 fs:4">[신선해요] 감*1kg내외(5~6입)</div>
                </div>
                <div class="fs:5 fw:3 as:end">10,000<span>원</span></div>
                <div class="d:flex fl-dir:column gap:4">
                  <div class="d:flex gap:11 jc:space-between">
                    <span>용량</span>
                    <span>5~6개입/1kg내외</span>
                  </div>
                  <div class="d:flex gap:11 jc:space-between">
                    <span>보관방법</span>
                    <span>신선</span>
                  </div>
                  <div class="d:flex gap:11 jc:space-between">
                    <span>배송비</span>
                    <span>가격(3만원 이상 무료)</span>
                  </div>
                  <div class="d:flex gap:11 jc:space-between">
                    <span>상품특징</span>
                    <span>국내산</span>
                  </div>
                </div>
              </div>
              <!--<div class="d:flex fl-dir:column gap:5 pt:10 pb:10 bd-top">
                  <div class="d:flex fl-dir:row ai:center jc:space-between">
                  <span class="numberBox bd of:hidden pos:relative bd-radius:1 bg-color:main-1 bd w:4" style="height: 36px">
                    <a href="#" class="btnMinus left:1"></a>
                    <input type="text" class="w:100p h:100p fw:3 txt-al:center" style="line-height: 36px" maxlength="3" value="1" return false; />
                    <a href="#" class="btnPlus right:1"></a>
                  </span>
                  </div>
                  <div class="d:flex fl-dir:row bd h:3 p:3 d:flex fl-dir:row ai:center jc:space-between">
                    <div>
                      <span class="fw:3" >총 수량&emsp;<span class="color:sub-5">1</span>개</span>
                    </div>
                    <div>
                      <span class="color:sub-5 fw:3">10,000</span>
                      <span class="fw:3">원</span>
                    </div>
                  </div>
              </div>
              <div class="d:flex gap:13 w:10p col-gap:4">
                <div class="fl-grow:1"><button type="button" class="n-btn n-btn-type:filled w:10p">장바구니 담기</button></div>
                <div class="fl-grow:1"><button type="button" class="n-btn n-btn-type:filled w:10p">바로 결제하기</button></div>
              </div>-->
            </section>
          </div>
        </div>
      </div>
    </section>

    <!--    ===================================================================================================-->

      <nav>
        <h1 class="d:none">탭</h1>
        <ul class="n-tabbar n-tab-grow">
          <li ><a href="">상품정보</a></li>
          <li><a href="">후기</a></li>
          <li><a href="">Q&A</a></li>
        </ul>
      </nav>

      <section>
        <h1>상품정보</h1>
        <div><img src="" alt="" />사진</div>
      </section>

      <!--=======================상품 후기 모바일 버전==================================-->
      <section class="d:flex fl-dir:column gap:7 md:d:none w:10p pl:5 pr:5">
        <h1 class="fs:5 fw:3 d:flex ai:center jc:center">상품 후기</h1>

        <section class="d:flex fl-dir:column gap:2">
          <h1 class="d:none">사진 후기</h1>
          <div class="d:flex fl-dir:row jc:space-between">
            <div class="fs:3 fw:3">사진후기</div>
            <div><a href="">전체보기</a></div>
          </div>
          <div class="d:flex fl-dir:row gap:5">
            <div>
              <a href=""><img th:src="@{/img/Meongmeong.jpg}" height="100px" width="100%"/></a>
            </div>
            <div>
              <a href=""><img th:src="@{/img/Meongmeong.jpg}" height="100px" width="100%"/></a>
            </div>
            <div>
              <a href=""><img th:src="@{/img/Meongmeong.jpg}" height="100px" width="100%"/></a>
            </div>

          </div>
        </section>
        <section class="d:flex fl-dir:column gap:1">
          <h1>후기</h1>
          <div class="d:flex fl-dir:column gap:2 bd-top bd-color:base-5">
            <div class="d:flex fl-dir:row mt:2 gap:3 ai:center">
              <span class="deco icon:leaf deco-size:4 icon-color:sub-5 d:flex ai:center jc:center">신선해요</span>
              <span class="bg-color:sub-5 color:base-1 bd-radius:2 fs:1 pl:1 pr:1" style="padding-top: 4px;
              padding-bottom:
              4px">BEST</span>
            </div>
            <div class="d:flex fl-dir:column gap:1">
              <div class="pos:relative d:flex fl-dir:row gap:3 ai:center">
                <span>godseokho</span>
              <div>
                <p>와!!! 정말 맛있어요!!! 이 갓석호가 보증합니다!!</p>
              </div>
            </div>
          </div>
          <div class="bd-top bd-color:base-5">
            <div class="d:flex fl-dir:row gap:3 ai:center">
              <span class="deco icon:leaf deco-size:4 icon-color:base-7"
                >신선해요</span
              >
              <span class="d:none">BEST</span>
            </div>
            <div class="pos:relative d:flex fl-dir:row gap:3 ai:center">
              <span>seokhofan</span>
              <span class="bar"></span>
              <span>2024.03.22</span>
            </div>
            <div>
              <p>갓석호 추천으로 믿고 먹어봤는데 역시 맛있네요!</p>
            </div>
          </div>
          <div class="bd-top bd-color:base-5">
            <div class="d:flex fl-dir:row gap:3 ai:center">
              <span class="deco icon:clap deco-size:4 icon-color:base-7"
                >추천해요</span
              >
              <span class="d:none">BEST</span>
            </div>
            <div class="pos:relative d:flex fl-dir:row gap:3 ai:center">
              <span>lo-seokho-ve</span>
              <span class="bar"></span>
              <span>2024.03.22</span>
            </div>
            <div>
              <p>석호 오빠 사랑해요!!!!!!!!꺅!!!</p>
            </div>
          </div>
          <div class="bd-top bd-color:base-5">
            <div class="d:flex fl-dir:row gap:3 ai:center">
              <span class="deco icon:thumbsup deco-size:4 icon-color:base-7"
                >최고에요</span
              >
              <span class="d:none">BEST</span>
            </div>
            <div class="pos:relative d:flex fl-dir:row gap:3 ai:center">
              <span>#1seokhofan</span>
              <span class="bar"></span>
              <span>2024.03.22</span>
            </div>
            <div>
              <p>젠장 또 갓석호야...난 숭배해야만 해....</p>
            </div>
          </div>
        </section>
      </section>

      <!--        ============================================상품 후기 PC버전========================================-->
      <section class="d:none md:d:flex fl-dir:column gap:20 w:10 pl:5 pr:5">
        <h1 class="d:none">상품 PC 후기</h1>
        <section class="d:flex fl-dir:column gap:5">
          <h1 class="d:none">상품 간략 설명</h1>
          <div class="d:flex jc:center ai:center">
            <a href=""
              ><img
                th:src="@{/img/Meongmeong.jpg}"
                style="background-size: contain"
                height="500px"
                width="500px"
            /></a>
          </div>
          <div class="d:flex fl-dir:column jc:center ai:center">
            <span class="fw:3 fs:5">감</span>
            <span class="fs:5">껍질에 드실 수 있는 달콤한 신선한 감</span>
          </div>
        </section>
        <section class="d:flex fl-dir:column gap:5">
          <h1 class="d:none">사진 후기</h1>
          <div class="d:flex fl-dir:row jc:space-between">
            <div class="fs:3 fw:3">사진후기</div>
            <div><a href="">전체보기</a></div>
          </div>
          <div class="d:flex fl-dir:row gap:5">
            <div>
              <a href=""
                ><img
                  th:src="@{/img/Meongmeong.jpg}"
                  height="150px"
                  width="100%"
              /></a>
            </div>
            <div>
              <a href=""
                ><img
                  th:src="@{/img/Meongmeong.jpg}"
                  height="150px"
                  width="100%"
              /></a>
            </div>
            <div>
              <a href=""
                ><img
                  th:src="@{/img/Meongmeong.jpg}"
                  height="150px"
                  width="100%"
              /></a>
            </div>
          </div>
        </section>
        <section class="d:flex fl-dir:column gap:5">
          <h1 class="fs:3 fw:3">후기</h1>
          <table
            class="n-table n-row-height:3 n-table-border:none table-layout:auto jc:space-between"
          >
            <thead class="bg-color:base-3 fw:1">
              <tr>
                <th scope="col">기농태그</th>
                <th scope="col">구매후기</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="d:flex fl-dir:row gap:3 ai:center h:3">
                  <span
                    class="deco icon:leaf deco-size:4 icon-color:sub-5 d:flex"
                    >신선해요</span
                  >
                  <span
                    class="n-btn n-btn-size:1"
                    style="background-color: var(--color-sub-5)"
                    >BEST</span
                  >
                </th>
                <td>와!!! 정말 맛있어요!!! 이 갓석호가 보증합니다!!</td>
                <td>godseokho</td>
                <td>2024.03.21</td>
              </tr>
              <tr>
                <th scope="row" class="d:flex fl-dir:row gap:3 ai:center h:3">
                  <span class="deco icon:leaf deco-size:4 icon-color:base-7"
                    >신선해요</span
                  >
                  <span class="d:none">BEST</span>
                </th>
                <td>갓석호 추천으로 믿고 먹어봤는데 역시 맛있네요</td>
                <td>seokhofan</td>
                <td>2024.03.22</td>
              </tr>
              <tr>
                <th scope="row" class="d:flex fl-dir:row gap:3 ai:center h:3">
                  <span class="deco icon:clap deco-size:4 icon-color:base-7"
                    >추천해요</span
                  >
                  <span class="d:none">BEST</span>
                </th>
                <td>석호 오빠 사랑해요!!!!!!!!꺅!!!</td>
                <td>lo-seokho-ve</td>
                <td>2024.03.22</td>
              </tr>
              <tr>
                <th scope="row" class="d:flex fl-dir:row gap:3 ai:center h:3">
                  <span class="deco icon:thumbsup deco-size:4 icon-color:base-7"
                    >최고에요</span
                  >
                  <span class="d:none">BEST</span>
                </th>
                <td>젠장 또 갓석호야...난 숭배해야만 해....</td>
                <td>#1seokhofan</td>
                <td>2024.03.22</td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>

      <!--상품 Q&A 모바일버전-->
      <section class="d:flex fl-dir:column gap:7 md:d:none w:10p pl:5 pr:5">
        <h1 class="d:none">Q&A</h1>
        <section>
          <h1 class="d:none">상품 Q&A</h1>

          <div>
            <button
              class="n-btn n-btn:outline fw:3 color:main-6 n-btn-size:2 w:10p"
            >
              문의하기
            </button>
          </div>

          <div class="d:flex fl-dir:column gap:3">
            <div class="bd-top bd-color:base-3 pt:3 pb:3">
              <div class="d:flex fl-dir:column gap:1">
                <div class="d:flex fl-dir:row jc:space-between">
                  <span class="fw:3">답변완료</span>
                  <div class="d:flex fl-dir:row gap:1 pos:relative">
                    <span>***gyungin</span>
                    <span class="bar"></span>
                    <span>2024-01-01</span>
                  </div>
                </div>
                <div class="fw:3">
                  <span>[상품]</span>
                  <span>햄버거에 넣어도 맛있을까요??</span>
                </div>
                <div class="bg-color:main-1 d:flex fl-dir:column gap:1 p:1">
                  <span class="fw:3">기농이네 답변</span>
                  <div class="">
                    안녕하세요.<br />기농이네입니다.<br />문의 주셔서
                    감사합니다.<br />
                    주문하시면 후회하지 않으실 겁니다.
                  </div>
                </div>
              </div>
            </div>
            <div class="bd-top bd-color:base-3 pt:3 pb:3">
              <div class="d:flex fl-dir:column gap:1">
                <div class="d:flex fl-dir:row jc:space-between">
                  <span class="fw:3">답변완료</span>
                  <div class="d:flex fl-dir:row gap:1 pos:relative">
                    <span>***gyungin</span>
                    <span class="bar"></span>
                    <span>2024-01-01</span>
                  </div>
                </div>
                <div class="fw:3">
                  <span>[상품]</span>
                  <span>햄버거에 넣어도 맛있을까요??</span>
                </div>
              </div>
            </div>
            <div class="bd-top bd-color:base-3 pt:3 pb:3">
              <div class="d:flex fl-dir:column gap:1">
                <div class="d:flex fl-dir:row jc:space-between">
                  <span class="fw:3">답변완료</span>
                  <div class="d:flex fl-dir:row gap:1 pos:relative">
                    <span>***gyungin</span>
                    <span class="bar"></span>
                    <span>2024-01-01</span>
                  </div>
                </div>
                <div class="fw:3">
                  <span>[상품]</span>
                  <span>햄버거에 넣어도 맛있을까요??</span>
                </div>
              </div>
            </div>
            <div class="bd-top bd-color:base-3 pt:3 pb:3">
              <div class="d:flex fl-dir:column gap:1">
                <div class="d:flex fl-dir:row jc:space-between">
                  <span class="fw:3">답변완료</span>
                  <div class="d:flex fl-dir:row gap:1 pos:relative">
                    <span>***gyungin</span>
                    <span class="bar"></span>
                    <span>2024-01-01</span>
                  </div>
                </div>
                <div class="fw:3">
                  <span>[상품]</span>
                  <span>햄버거에 넣어도 맛있을까요??</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <!--상품 Q&A PC버전-->
      <section class="d:none md:d:flex fl-dir:column gap:20 w:10 pl:5 pr:5">
        <h1 class="d:none">Q&A PC</h1>
        <div class="d:flex fw:3 jc:center fs:6">Q&A</div>
        <div class="d:flex ai:center">
          <span class="fl-grow:1 fw:3">후기</span>
          <button class="n-btn fw:3 n-btn-size:2">문의하기</button>
        </div>
        <section>
          <h1 class="d:none">Q&A 리스트</h1>
          <div
            class="d:flex fl-dir:row jc:space-around bg-color:base-2 bd-bottom bd-color:base-3 bd-bottom-w:1 h:4 ai:center"
          >
            <span class="w:1p">문의 유형</span>
            <span class="w:3p">제목</span>
            <span class="w:1p">작성자</span>
            <span class="w:1p">답변 상태</span>
            <span class="w:1p">등록일</span>
          </div>
          <div class="n-expander ai:center">
            <div
              class="d:flex jc:space-around bd-bottom bd-color:base-3 h:4 ai:center jc:center n-expander-title"
            >
              <span class="w:1p">상품</span>
              <span class="w:3p">햄버거에 넣어도 맛있나요.</span>
              <span class="w:1p">***gyungin</span>
              <span class="w:1p">[답변완료]</span>
              <span class="w:1p">2024-01-01</span>
              <input type="checkbox" class="n-expander-trigger" />
            </div>
            <div
              class="bg-color:main-1 d:flex fl-dir:column gap:3 pl:10 pr:10 n-expander-content"
            >
              <span class="fw:3">기농이네 답변</span>
              <div class="">
                안녕하세요.<br />기농이네입니다.<br />문의 주셔서 감사합니다.<br />
                주문하시면 후회하지 않으실 겁니다.
              </div>
            </div>
          </div>
          <div class="n-expander">
            <div
              class="d:flex jc:space-around bd-bottom bd-color:base-3 h:4 ai:center n-expander-title"
            >
              <span class="w:1p">배송</span>
              <span class="w:3p">배송 언제 오나요?</span>
              <span class="w:1p">***gyungin</span>
              <span class="w:1p">[답변대기중]</span>
              <span class="w:1p">2024-01-02</span>
              <input type="checkbox" class="n-expander-trigger" />
            </div>
            <div
              class="bg-color:main-1 d:flex fl-dir:column gap:3 pl:10 pr:10 n-expander-content"
            ></div>
          </div>
          <div class="n-expander">
            <div
              class="d:flex jc:space-around bd-bottom bd-color:base-3 h:4 ai:center n-expander-title"
            >
              <span class="w:1p">상품</span>
              <span class="w:3p">한 개만 안 파나요?</span>
              <span class="w:1p">***gyungin</span>
              <span class="w:1p">[답변대기중]</span>
              <span class="w:1p">2024-01-03</span>
              <input type="checkbox" class="n-expander-trigger" />
            </div>
            <div
              class="bg-color:main-1 d:flex fl-dir:column gap:3 pl:10 pr:10 n-expander-content"
            ></div>
          </div>
        </section>
      </section>
      <!--구매정보 안내팝업(모바일)-->
      <section class=" d:flex fl-dir:column gap:8 ai:center md:d:none m:4">
        <h1 class="d:none">구매정보안내팝업</h1>
        <div class="pay-content-mobile n-item n-item:outline d:flex fl-dir:column ai:center gap:8 w:10p">
          <div class=" icon icon:caret_down icon-size:4">닫기 아이콘 </div>
          <div class="w:10p">
            <div class="bg-color:base-3 p:5 d:flex fl-dir:column gap:3">
              <div>국산 유기농 감 1kg 내외 (5~6개입)</div>
              <div class="d:flex fl-dir:row ai:center jc:space-between">
                <span class="numberBox bd bd-color:base-1 of:hidden pos:relative bd-radius:1 bg-color:main-1 bd w:4" style="height: 36px">
                  <a th:data-btn="minus" class="btnMinus left:1"></a>
                  <input type="text" class="number-input w:100p h:100p fw:3 txt-al:center" style="line-height: 36px" maxlength="3" th:value=1 return false; />
                  <a th:data-btn="plus" class="btnPlus right:1"></a>
                </span>
                <span class="w:1/5 txt-al:right">10,000원</span>
                <input type="hidden" class="price" th:value="10000">
              </div>
            </div>
            <div class="d:flex bd bd-color:base-3 h:3 p:3 d:flex fl-dir:row ai:center jc:space-between">
              <div class="total">
                <span class="fw:3">총 수량&emsp;<span class="total-count color:sub-5" th:text="1">1</span>개</span>
              </div>
              <div>
                <span class="total-price color:sub-5 fw:3" th:text="10000">10,000</span>
                <span class="fw:3">원</span>
                <input type="hidden" class="total-price" name="totalPrice" th:value="10000">
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
