<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="user/inc/layout-back"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main layout:fragment="main">
      <nav>
        <h1>브래드 크럼</h1>
        <ul>
          <li><a href="">홈</a></li>
          <li><a href="">></a></li>
        </ul>
      </nav>

      <section>
        <h1>상품카드</h1>
        <div>
          <div><img src="" alt="" />대표사진</div>
          <div>
            <div><a href="">사진1</a></div>
            <div><a href="">사진2</a></div>
            <div><a href="">사진3</a></div>
            <div><a href="">사진4</a></div>
          </div>
        </div>
        <div>
          <div class="d:flex gap:3">
            <div class="n-btn n-btn-type:outline n-btn-size:1 w:5p">
              한줄설명
            </div>
            <div class="n-btn n-btn-color:sub n-btn-size:3 w:5p">상품명</div>
            <div>상품가격</div>
            <div>
              <div>추천수</div>
              <div><a href="">공유하기</a></div>
            </div>
            <div>
              <span>용량</span>
              <span>5~6개입/1kg내외</span>
            </div>
            <div>
              <span>보관방법</span>
              <span>신선</span>
            </div>
            <div>
              <span>배송비</span>
              <span>가격(3만원 이상 무료)</span>
            </div>
          </div>
          <nav>
            <h1>버튼</h1>
            <ul>
              <li><a href="">장바구니</a></li>
              <li><a href="">구매하기</a></li>
            </ul>
          </nav>
        </div>
      </section>

      <nav>
        <h1>탭</h1>
        <ul>
          <li><a href="">상품정보</a></li>
          <li><a href="">후기</a></li>
          <li><a href="">Q&A</a></li>
        </ul>
      </nav>

      <section>
        <h1>상품정보</h1>
        <div><img src="" alt="" />사진</div>
      </section>

      <!--=======================상품 후기 모바일 버전==================================-->
      <section class="d:flex fl-dir:column gap:8 md:d:none">
        <h1 class = "fs:5 fw:3 d:flex ai:center jc:center">상품 후기</h1>

        <section class="d:flex fl-dir:column gap:2">
          <h1 class="d:none">사진 후기</h1>
          <div class = "d:flex fl-dir:row jc:space-between">
            <div class = "fs:3 fw:3">사진후기</div>
            <div><a href="">전체보기</a></div>
          </div>
          <div class = "d:flex fl-dir:row gap:5  jc:space-around">
            <div><a href=""><img th:src="@{/img/Meongmeong.jpg}" height="100px" width="100%"></a></div>
            <div><a href=""><img th:src="@{/img/Meongmeong.jpg}" height="100px" width="100%"></a></div>
            <div><a href=""><img th:src="@{/img/Meongmeong.jpg}" height="100px" width="100%"></a></div>
          </div>
        </section>
        <section class="d:flex fl-dir:column gap:1">
          <h1>후기</h1>
          <div class="d:flex fl-dir:column gap:2 bd-top bd-color:base-5">
            <div class = "d:flex fl-dir:row  mt:2 gap:3 ai:center">
              <span class = "deco icon:leaf deco-size:4 icon-color:sub-5 d:flex ai:center jc:center">신선해요</span>
              <span class = "n-btn n-btn-size:1" style="background-color:var(--color-sub-5)">BEST</span>
            </div>
            <div class = "d:flex fl-dir:column gap:1">
              <div class = "pos:relative d:flex fl-dir:row gap:3 ai:center">
                <span>godseokho</span>
                <span class="bar"></span>
                <span>2024.03.21</span>
              </div>
              <div>
                <p>와!!! 정말 맛있어요!!! 이 갓석호가 보증합니다!!</p>
              </div>
            </div>
          </div>
          <div class="bd-top bd-color:base-5">
            <div class = "d:flex fl-dir:row gap:3 ai:center">
              <span class = "deco icon:leaf deco-size:5 icon-color:base-7">신선해요</span>
              <span class = "d:none">BEST</span>
            </div>
            <div class = "pos:relative d:flex fl-dir:row gap:3 ai:center">
              <span>seokhofan</span>
              <span class="bar"></span>
              <span>2024.03.22</span>
            </div>
            <div>
              <p>갓석호 추천으로 믿고 먹어봤는데 역시 맛있네요!</p>
            </div>
          </div>
          <div class="bd-top bd-color:base-5">
            <div class = "d:flex fl-dir:row gap:3 ai:center">
              <span class = "deco icon:clap deco-size:5 icon-color:base-7">추천해요</span>
              <span class = "d:none">BEST</span>
            </div>
            <div class = "pos:relative d:flex fl-dir:row gap:3 ai:center">
              <span>lo-seokho-ve</span>
              <span class="bar"></span>
              <span>2024.03.22</span>
            </div>
            <div>
              <p>석호 오빠 사랑해요!!!!!!!!꺅!!!</p>
            </div>
          </div>
          <div class="bd-top bd-color:base-5">
            <div class = "d:flex fl-dir:row gap:3 ai:center">
              <span class = "deco icon:thumbsup deco-size:5 icon-color:base-7">최고에요</span>
              <span class = "d:none">BEST</span>
            </div>
            <div class = "pos:relative d:flex fl-dir:row gap:3 ai:center">
              <span>#1seokhofan</span>
              <span class="bar"></span>
              <span>2024.03.22</span>
            </div>
            <div>
              <p>젠장 또 갓석호야...난 숭배해야만 해....</p>
            </div>
          </div>

        </section>
      </section>

      <!--        ============================================상품 후기 PC버전========================================-->
      <section class= "d:none md:d:block md:d:flex md:fl-dir:column md:gap:20">
        <h1 class = "d:none">상품 PC 후기</h1>
        <section class="d:flex fl-dir:column gap:5">
          <h1 class="d:none">상품 간략 설명</h1>
          <div><a href=""><img th:src="@{/img/Meongmeong.jpg}" style="background-size: contain"></a></div>
          <div class="d:flex fl-dir:column jc:center ai:center">
            <span class="fw:3 fs:5">감</span>
            <span class="fs:5">껍질에 드실 수 있는 달콤한 신선한 감</span>
          </div>
        </section>
        <section class="d:flex fl-dir:column gap:5">
          <h1 class="d:none">사진 후기</h1>
          <div class = "d:flex fl-dir:row jc:space-between">
            <div class = "fs:3 fw:3">사진후기</div>
            <div><a href="">전체보기</a></div>
          </div>
          <div class = "d:flex fl-dir:row gap:5  jc:space-around">
            <div><a href=""><img th:src="@{/img/Meongmeong.jpg}" height="100px" width="100%"></a></div>
            <div><a href=""><img th:src="@{/img/Meongmeong.jpg}" height="100px" width="100%"></a></div>
            <div><a href=""><img th:src="@{/img/Meongmeong.jpg}" height="100px" width="100%"></a></div>
          </div>
        </section>
        <section class="d:flex fl-dir:column gap:5">
          <h1 class = "fs:3 fw:3">후기</h1>
          <table class="n-table n-row-height:3 n-table-border:none table-layout:auto jc:space-between">
            <thead class="bg-color:base-3 fw:1">
            <tr>
              <th scope="col">기농태그</th>
              <th scope="col">구매후기</th>
              <th scope="col">작성자</th>
              <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row" class = "d:flex fl-dir:row gap:3 ai:center h:3">
                <span class = "deco icon:leaf deco-size:4 icon-color:sub-5 d:flex">신선해요</span>
                <span class = "n-btn n-btn-size:1" style="background-color:var(--color-sub-5)">BEST</span>
              </th>
              <td>와!!! 정말 맛있어요!!! 이 갓석호가 보증합니다!!</td>
              <td>godseokho</td>
              <td>2024.03.21</td>
            </tr>
            <tr>
              <th scope="row" class = "d:flex fl-dir:row gap:3 ai:center h:3">
                <span class = "deco icon:leaf deco-size:4 icon-color:base-7">신선해요</span>
                <span class = "d:none">BEST</span>
              </th>
              <td>갓석호 추천으로 믿고 먹어봤는데 역시 맛있네요</td>
              <td>seokhofan</td>
              <td>2024.03.22</td>
            </tr>
            <tr>
              <th scope="row" class = "d:flex fl-dir:row gap:3 ai:center h:3">
                <span class = "deco icon:clap deco-size:4 icon-color:base-7">추천해요</span>
                <span class = "d:none">BEST</span>
              </th>
              <td>석호 오빠 사랑해요!!!!!!!!꺅!!!</td>
              <td>lo-seokho-ve</td>
              <td>2024.03.22</td>
            </tr>
            <tr>
              <th scope="row" class = "d:flex fl-dir:row gap:3 ai:center h:3">
                <span class = "deco icon:thumbsup deco-size:4 icon-color:base-7">최고에요</span>
                <span class = "d:none">BEST</span>
              </th>
              <td>젠장 또 갓석호야...난 숭배해야만 해....</td>
              <td>#1seokhofan</td>
              <td>2024.03.22</td>
            </tr>
            </tbody>
          </table>
        </section>
      </section>

      <section class="d:flex fl-dir:column gap:7 md:d:none w:10p pl:5 pr:5">
        <h1 class="d:none">Q&A</h1>
        <section>
          <h1 class="d:none">상품 Q&A</h1>

          <div>
            <button
              class="n-btn n-btn:outline fw:3 color:main-6 n-btn-size:2 w:10p"
            >
              문의하기
            </button>
          </div>

          <div class="d:flex fl-dir:column gap:3">
            <div class="bd-top bd-color:base-3 pt:3 pb:3">
              <div class="d:flex fl-dir:column gap:1">
                <div class="d:flex fl-dir:row jc:space-between">
                  <span class="fw:3">답변완료</span>
                  <div class="d:flex fl-dir:row gap:1 pos:relative">
                    <span>***gyungin</span>
                    <span class="bar"></span>
                    <span>2024-01-01</span>
                  </div>
                </div>
                <div class="fw:3">
                  <span>[상품]</span>
                  <span>햄버거에 넣어도 맛있을까요??</span>
                </div>
                <div class="bg-color:main-1 d:flex fl-dir:column gap:1 p:1">
                  <span class="fw:3">기농이네 답변</span>
                  <div class="">
                    안녕하세요.<br />기농이네입니다.<br />문의 주셔서
                    감사합니다.<br />
                    주문하시면 후회하지 않으실 겁니다.
                  </div>
                </div>
              </div>
            </div>
            <div class="bd-top bd-color:base-3 pt:3 pb:3">
              <div class="d:flex fl-dir:column gap:1">
                <div class="d:flex fl-dir:row jc:space-between">
                  <span class="fw:3">답변완료</span>
                  <div class="d:flex fl-dir:row gap:1 pos:relative">
                    <span>***gyungin</span>
                    <span class="bar"></span>
                    <span>2024-01-01</span>
                  </div>
                </div>
                <div class="fw:3">
                  <span>[상품]</span>
                  <span>햄버거에 넣어도 맛있을까요??</span>
                </div>
              </div>
            </div>
            <div class="bd-top bd-color:base-3 pt:3 pb:3">
              <div class="d:flex fl-dir:column gap:1">
                <div class="d:flex fl-dir:row jc:space-between">
                  <span class="fw:3">답변완료</span>
                  <div class="d:flex fl-dir:row gap:1 pos:relative">
                    <span>***gyungin</span>
                    <span class="bar"></span>
                    <span>2024-01-01</span>
                  </div>
                </div>
                <div class="fw:3">
                  <span>[상품]</span>
                  <span>햄버거에 넣어도 맛있을까요??</span>
                </div>
              </div>
            </div>
            <div class="bd-top bd-color:base-3 pt:3 pb:3">
              <div class="d:flex fl-dir:column gap:1">
                <div class="d:flex fl-dir:row jc:space-between">
                  <span class="fw:3">답변완료</span>
                  <div class="d:flex fl-dir:row gap:1 pos:relative">
                    <span>***gyungin</span>
                    <span class="bar"></span>
                    <span>2024-01-01</span>
                  </div>
                </div>
                <div class="fw:3">
                  <span>[상품]</span>
                  <span>햄버거에 넣어도 맛있을까요??</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section class="d:none md:d:flex fl-dir:column gap:20 w:6p">
        <h1 class="d:none">Q&A PC</h1>
        <div class="d:flex fw:3 jc:center fs:6">Q&A</div>
        <div class="d:flex ai:center">
          <span class="fl-grow:1 fw:3">후기</span>
          <button class="n-btn fw:3 n-btn-size:2">문의하기</button>
        </div>
        <section>
          <h1 class="d:none">Q&A 리스트</h1>

          <div
            class="d:flex fl-dir:row jc:space-around bg-color:base-2 bd-bottom bd-color:base-3 bd-bottom-w:1 h:4 ai:center"
          >
            <span class="width:1/5">문의 유형</span>
            <span class="width:1/5">제목</span>
            <span class="width:1/5">작성자</span>
            <span class="width:1/5">답변 상태</span>
            <span class="width:1/5">등록일</span>
          </div>
          <div
            class="d:flex jc:space-around bd-bottom bd-color:base-3 h:4 ai:center"
          >
            <span>상품</span>
            <span>햄버거에 넣어도 맛있나요.</span>
            <span>***gyungin</span>
            <span>[답변완료]</span>
            <span>2024-01-01</span>
          </div>
          <div
            class="bg-color:main-1 d:flex fl-dir:column gap:3 p:2 pl:10 pr:10"
          >
            <span class="fw:3">기농이네 답변</span>
            <div class="">
              안녕하세요.<br />기농이네입니다.<br />문의 주셔서 감사합니다.<br />
              주문하시면 후회하지 않으실 겁니다.
            </div>
          </div>
          <div
            class="d:flex jc:space-around bd-bottom bd-color:base-3 h:4 ai:center"
          >
            <span>배송</span>
            <span>배송 언제 오나요?</span>
            <span>***gyungin</span>
            <span>[답변대기중]</span>
            <span>2024-01-01</span>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
