<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product-List</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.32/dist/style.css" />
</head>
<body>
    <section>
        <h1 class="fs:1 ">정렬 카테고리</h1>
        <div>
            <button>아이콘 정렬버튼</button>
        </div>
        <div>
            <a href="">가격순</a>
            <a href="">추천순</a>
        </div>
    </section>
    <section>
        <h1>상품 영역</h1>
            <div>
                <div>
                    <a href="">상품 이미지</a>
                    <a href="">장바구니 아이콘</a>
                </div>
                <div>
                    <a href="">
                        <span>텃밭 흙 당근, 2개입</span>
                        <span>2,500원</span>
                    </a>
                    <span>기농태그</span>
                </div>
            </div>
    </section>
</body>
</html>