<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.cart.CartRepository">
    <select id="findAll" resultType="Cart">
        SELECT * FROM  CART where MEMBER_ID = #{memberId};
    </select>

    <select id="find" resultType="Cart">
        SELECT * FROM CART
        where
            MEMBER_ID = #{memberId}
        AND PRODUCT_ID = #{prdId};
    </select>

    <select id="findAvailableQty" resultType="Map" parameterType="Long">
        SELECT P.ID AS PRODUCT_ID                                      <!-- 상품 ID -->
             , P.NAME AS PRODUCT_NAME                                  <!-- 상품명 -->
             , concat(P.NAME, ', ', P.QUANTITY, QC.NAME, ' (', P.WEIGHT, WC.NAME, ')') AS PRETTY_PRODUCT_NAME
             , P.PRICE AS PRODUCT_PRICE                                <!-- 상품 가격 -->
             , P.DISCOUNT_RATE                                         <!-- 상품 할인율 -->
             , P.PRICE - (P.PRICE * (P.DISCOUNT_RATE / 100)) AS DISCOUNT_PRICE     <!-- 상품 할인가격 -->
             , C.QUANTITY AS CART_QUANTITY                             <!-- 장바구니 수량 -->
             , S.CUR_AMT AS STOCK_QUANTITY                             <!-- 재고 수량 -->
             , CASE                                                    <!-- (재고수량-장바구니수량) > 0 이면 구매가능(valid) 반환 -->
                  WHEN S.CUR_AMT - C.QUANTITY >= 0 THEN 'valid'
                  ELSE 'invalid'
               END AS STOCK_STATUS
             , CONCAT(P.THUMBNAIL_PATH, "/", P.THUMBNAIL_NAME) AS IMG  <!-- 이미지 경로 -->
        FROM CART C
        LEFT JOIN
                (
                    SELECT PRODUCT_ID
                         , SUM(PLMA * AMOUNT) AS CUR_AMT
                    FROM STOCK
                    GROUP BY PRODUCT_ID
                ) S
            ON C.PRODUCT_ID = S.PRODUCT_ID
        LEFT JOIN PRODUCT P
            ON C.PRODUCT_ID = P.ID
        LEFT JOIN QUANTITY_CATEGORY QC
            ON P.QUANTITY_CATEGORY_ID = QC.ID
        LEFT JOIN WEIGHT_CATEGORY WC
            ON P.WEIGHT_CATEGORY_ID = WC.ID
        <where>
            <if test="memberId != null">
                C.MEMBER_ID = #{memberId}
            </if>
        </where>
    </select>

    <select id="count" resultType="Integer" parameterType="Long">
        SELECT
            count(*)
        from CART
        WHERE MEMBER_ID = ${memberId}
    </select>

    <insert id="save">
        INSERT INTO CART (PRODUCT_ID, MEMBER_ID, QUANTITY)
        values
        <if test="cart != null">
            (#{cart.productId}, #{memberId},
            <choose>
                <when test="cart.quantity != null &amp;&amp; cart.quantity > 0">
                    #{cart.quantity}
                </when>
                <otherwise>
                    1
                </otherwise>
            </choose>
            )
        </if>
        <if test="list != null">
            <foreach collection="list" item="prdId" separator=",">
                (#{prdId, #{memberId}, 1)
            </foreach>
        </if>
    </insert>

    <insert id="saveWhenLogin" parameterType="list">
        INSERT INTO CART (PRODUCT_ID, MEMBER_ID, QUANTITY)
        VALUES
        <foreach collection="list" item="cart" separator=",">
            (#{cart.productId}, #{cart.memberId}, #{cart.quantity})
        </foreach>
    </insert>


    <update id="update" parameterType="Long">
        UPDATE CART
        <set>
            <if test="qty != null">
                QUANTITY = #{qty},
            </if>
            <if test="qty == null">
                QUANTITY = QUANTITY + 1,
            </if>
        </set>
        WHERE MEMBER_ID = #{memberId}
        AND PRODUCT_ID = #{prdId};
    </update>

    <update id="updateCartQuantity" parameterType="Cart">
        UPDATE CART
        SET QUANTITY = #{quantity}
        WHERE ID = #{id} AND MEMBER_ID = #{memberId};
    </update>


    <delete id="delete">
        DELETE FROM CART
        WHERE MEMBER_ID = #{memberId}
        <if test="prdId != null">
            AND PRODUCT_ID = #{prdId}
        </if>
        <if test="list != null">
            AND PRODUCT_ID IN (
            <foreach collection="list" item="id" separator=",">
                #{id}
            </foreach>
            )
        </if>
    </delete>

</mapper>