<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.cart.CartRepository">
    <select id="findAll" resultType="Cart">
        SELECT * FROM  CART where MEMBER_ID = #{memberId};
    </select>

    <select id="find" resultType="Cart">
        SELECT * FROM CART
        where
            MEMBER_ID = #{memberId}
        AND PRODUCT_ID = #{prdId};
    </select>

    <select id="count" resultType="Integer" parameterType="Long">
        SELECT
            count(*)
        from CART
        WHERE MEMBER_ID = ${memberId}
    </select>

    <insert id="save" parameterType="Cart" >
        INSERT INTO CART (QUANTITY, PRODUCT_ID, MEMBER_ID)
        values (#{quantity}, #{productId}, #{memberId})
    </insert>

    <update id="update" parameterType="Long">
        UPDATE CART
        <set>
            <if test="qty != null">
                QUANTITY = #{qty},
            </if>
            <if test="qty == null">
                QUANTITY = QUANTITY + 1,
            </if>
        </set>
        WHERE MEMBER_ID = #{memberId}
        AND PRODUCT_ID = #{prdId};
    </update>

    <delete id="delete">
        DELETE FROM CART WHERE PRODUCT_ID
        <if test="prdId != null">
            = #{prdId}
        </if>
        <if test="list != null">
            <foreach collection="c" item="list" separator=",">
               in (#{c})
            </foreach>
        </if>
    </delete>

</mapper>