<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="user/inc/layout-signup" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Product-List</title>
    <link rel="stylesheet" href="/css/user/signup/step.css">
    <script src="/js/user/signup/step2.js"></script>
    <script src="/js/Identity-email.js"></script>
</head>
<body>
<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:13 max-w:9 w:10p pl:4 pr:4 md:pl:0 md:pr:0">
    <section>
        <h1 class="d:none">navi 영역</h1>
        <div class="n-item n-item-type:underline bd-color:main-6 fs:4 txt-al:center fw:bold">회원가입</div>
    </section>

    <!--모바일 영역-->
    <section class="s-signup">
        <h1 class="d:none">모바일 영역 step</h1>
        <section id="stepDivs">
            <h1 class="d:none">step 영역</h1>
            <div class="d:flex jc:center gap:4">
                <div class="n-item n-item-type:outline-box fs:4 txt-al:center bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center" style="width: 21px; height: 21px;"><span>1</span></div>
                <div class="n-item n-item-type:outline-box fs:4 txt-al:center bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center bg-color:main-6" style="width: 21px; height: 21px;"><span class="color:base-1">2</span></div>
                <div class="n-item n-item-type:outline-box fs:4 txt-al:center bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center" style="width: 21px; height: 21px;"><span>3</span></div>
            </div>
        </section>

        <!--sec1-->
        <section id="sec1" class="d:flex fl-dir:column gap:10 mb:8">
                <section class="col-gap:2">
                    <h1 class="d:none">인풋박스</h1>
                    <div>이름</div>
                    <input type="text" class="name n-textbox n-textbox-type:underline" autofocus required/>
                    <div class="verify-name d:none">이름을 입력해주세요</div>
                </section>
                <section>
                    <h1 class="d:none">전화번호 입력</h1>
                    <div>전화번호</div>
                    <div class="d:flex col-gap:2">
                        <input type="text" class="phone n-textbox n-textbox-type:underline" placeholder="01012345678" required/>
                    </div>
                    <div class="verify-phone d:none">전화번호를 입력해주세요</div>
                </section>
                <section>
                    <h1 class="d:none">이메일 입력</h1>
                    <div>이메일</div>
                    <div class="d:flex col-gap:2">
                        <input name="mail" type="email" class="email n-textbox n-textbox-type:underline" required pattern=".+@example\.com" autocomplete="false"/>
                        <button id="send-mail-btn" class="n-btn n-btn:outline color:base-9" style="top:-3px;">인증번호 발송</button>
                    </div>
                </section>
                <section class="col-gap:2 pos:relative">
                    <h1 class="d:none">이메일 인증번호 확인</h1>
                    <div>인증번호</div>
                    <div class="d:flex col-gap:2">
                        <input type="text" class="verify-num n-textbox n-textbox-type:underline verification-code" required/>
                        <button id="verify_btn" class="n-btn n-btn:outline color:base-9" style="top:-3px;">인증번호 확인</button>
                    </div>
                    <div class="verification-result"></div>
                </section>
                <section>
                    <h1 class="d:none">이메일 수신여부 토글</h1>
                    <div class="display:flex flex-direction:row gap:4">
                        <span class="d:flex ai:center">이메일 수신 여부</span>
                        <input type="checkbox" class="agree n-toggle n-toggle-type:slide" name="state"/>
                    </div>
                </section>
                <section class="btn-box d:flex gap:8">
                    <h1 class="d:none">버튼</h1>
                    <button type="button" class="prev n-btn n-btn:outline w:10p">이전</button>
                    <button type="button" class="next n-btn w:10p">다음</button>
                </section>
        </section>
    </section>
</main>
</body>
</html>