<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.product.ProductRepository">

	<select id="findById" resultType="ProductView">
		select
		 *
		from PRODUCT_VIEW
		where id = #{id}
	</select>

	<select id="findAll" resultType="ProductView">
		select
		 *
		from PRODUCT_VIEW
		<where>
			<if test="categoryId != null">
				category_id = #{categoryId}
			</if>
			<if test="query != null">
				AND name like '%${query}%'
			</if>
			AND state = 1
		</where>
		<choose>
			<when test="sortType == 1">
				order by PRICE
			</when>
			<when test="sortType == 2">
				order by LIKE_COUNT DESC
			</when>
		</choose>
		limit #{offset}, #{rows}
	</select>

	<select id="findAllforAdmin" resultType="ProductView">
		select
		 *
		from PRODUCT_VIEW
		<where>
			<if test="categoryId != null">
				category_id = #{categoryId}
			</if>
			<if test="query != null">
				AND name like '%${query}%'
			</if>
		</where>
		<choose>
			<when test="sortType == 1">
				order by PRICE
			</when>
			<when test="sortType == 2">
				order by LIKE_COUNT DESC
			</when>
		</choose>
		limit #{offset}, #{rows}
	</select>
	
	<select id="findAllCartItems" resultType="Map">
		SELECT
		      P.ID AS PRODUCT_ID
		    , P.NAME AS PRODUCT_NAME
		    , concat(P.NAME, ', ', P.QUANTITY, QC.NAME, ' (', P.WEIGHT, WC.NAME, ')') AS PRETTY_PRODUCT_NAME
		    , P.PRICE AS PRODUCT_PRICE
		    , P.DISCOUNT_RATE
			, P.PRICE - (P.PRICE * (P.DISCOUNT_RATE / 100)) AS DISCOUNT_PRICE
		    , S.CUR_AMT AS STOCK_QUANTITY
		    , CONCAT(P.THUMBNAIL_PATH, "/", P.THUMBNAIL_NAME) AS IMG
		FROM PRODUCT P
		LEFT JOIN
			(
				SELECT PRODUCT_ID
				, SUM(PLMA * AMOUNT) AS CUR_AMT
				FROM STOCK
				GROUP BY PRODUCT_ID
			) S
			ON P.ID = S.PRODUCT_ID
		LEFT JOIN QUANTITY_CATEGORY QC
			ON P.QUANTITY_CATEGORY_ID = QC.ID
		LEFT JOIN WEIGHT_CATEGORY WC
			ON P.WEIGHT_CATEGORY_ID = WC.ID
		WHERE P.ID IN
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<!--  #####################################################################	-->
	<select id="findAllSeasonOut" resultType="ProductView">
		select
		 *
		from PRODUCT_VIEW
		where date(SEASON_END_DATE) - date(sysdate()) &lt;= 14
		limit 4
	</select>

	<select id="findAllCommingSoon" resultType="ProductView">
		select
		 *
		from PRODUCT_VIEW
		where date(SEASON_START_DATE) - date(sysdate()) between 1 and 14
		limit 4
	</select>
	<!-- todo findAllBestProduct / 베스트 상품 쿼리 만들기 / 판매일, 누적 판매량 필요 / 월 단위로 어떻게 끊을지 생각해보기 -->

	<select id="findAllSaleProduct" resultType="ProductView">
		select
		*
		from PRODUCT_VIEW
		order by DISCOUNT_RATE desc
	</select>

	<select id="findAllPickProduct" resultType="ProductView">
		select
		*
		from PRODUCT_VIEW
		order by LIKE_COUNT desc
	</select>


	<!--  #####################################################################	-->

	<select id="count" resultType="Integer">
		select
			count(id)
		from PRODUCT

		<where>
			<if test="categoryId != null">
				category_id = #{categoryId}
			</if>
			<if test="query != null">
				AND name like '%${query}%'
			</if>
		</where>
	</select>

	<insert id="save" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO PRODUCT(
			name, price, quantity, weight, thumbnail_name, thumbnail_path, 
			exp, `desc`, state, category_id, storage_type_id, member_id,
			quantity_category_id, weight_category_id) 
		VALUES(
			#{name}, #{price}, #{quantity}, #{weight}, #{thumbnailName}, #{thumbnailPath},
			#{exp}, #{desc}, #{state}, #{categoryId}, #{storageTypeId}, #{memberId},
			#{quantityCategoryId}, #{weightCategoryId} )
   </insert>

	<insert id="saveStock" parameterType="Stock">
		INSERT INTO STOCK(
		AMOUNT, POSITIVE, MADE_DATE, `DESC`, MEMBER_ID, PRODUCT_ID)
		VALUES(
		#{amount}, #{positive}, #{madeDate}, #{desc}, #{memberId}, #{productId})
	</insert>

   <update id="update" parameterType="Product">
	   UPDATE PRODUCT
		<set>
			<if test="name != null"> name = #{name}, </if>
			<if test="price != null"> price = #{price}, </if>
			<if test="weight != null"> weight = #{weight}, </if>
			<if test="thumbnailName != null"> thumbnail_name = #{thumbnailName}, </if>
			<if test="thumbnailPath != null"> thumbnail_path = #{thumbnailPath}, </if>
			<if test="exp != null"> exp = #{exp}, </if>
			<if test="desc != null"> `desc` = #{desc}, </if>
			<if test="state != null"> state = #{state}, </if>
			<if test="quantity != null"> quantity = #{quantity}, </if>
			<if test="categoryId != null"> category_id = #{categoryId}, </if>
			<if test="storageTypeId != null"> storage_type_id = #{storageTypeId}, </if>
			<if test="memberId != null"> member_id = #{memberId}, </if>
			<if test="quantityCategoryId != null"> quantity_category_id = #{quantityCategoryId}, </if>
			<if test="weightCategoryId != null"> weight_category_id = #{weightCategoryId}, </if>
		</set>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
   </update>


	<update id="updateState">
		UPDATE PRODUCT SET STATE = FALSE
		<where>
			<foreach item="item" collection="ids"
					 open="ID in (" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</update>

   <delete id="delete" parameterType="Product">
		delete from PRODUCT
		<where>
			<if test="id != null">
				id = #{id}
			</if>	
		</where>
   </delete>

</mapper>