<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.product.ProductImgRepository">

	<select id="findById" resultType="ProductImg">
		select
		 *
		from PRODUCT_IMG
		where product_id = #{productId}
	</select>

	<select id="findAll" resultType="ProductImg">
		select
		 *
		from PRODUCT_IMG
	</select>


	<select id="count" resultType="Integer">
		select
			count(id)
		from PRODUCT_IMG

		<where>
			<if test="productId != null">
				category_id = #{productId}
			</if>
		</where>
	</select>

	<insert id="save" parameterType="ProductImg">
		INSERT INTO PRODUCT_IMG
		(name, img_path, product_id)
		VALUES
		(#{name}, #{imgPath}, #{productId})
	</insert>

</mapper>