<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.product.StockRepository">

	<select id="findById" resultType="StockView">
		SELECT *
		FROM STOCK_VIEW
		<where>
			<if test="id!=null">STOCK_ID = #{id}</if>;
		</where>
	</select>

	<select id="findByPrdId" resultType="StockView">
		SELECT *
		FROM STOCK_VIEW
		<where>
			<if test="productId!=null"> PRODUCT_ID = #{productId}</if>
			order by reg_date desc
		</where>
	</select>

	<select id="findAll" resultType="StockView">
		SELECT MAX(STOCK_ID) STOCK_ID, a.PRODUCT_ID ,a.NAME ,a.CURRENT_AMOUNT , a.QUANTITY, a.QUANTITY_CATEGORY_NAME ,a.WEIGHT , a.WEIGHT_CATEGORY_NAME ,a.PLMA , a.SYMBOL , a.AMOUNT , a.IO_DATE , a.MADE_DATE ,MAX(REG_DATE) AS reg_date, a.`DESC` , a.STOCK_CATEGORY_ID , a.STOCK_CATEGORY_NAME
		FROM STOCK_VIEW a
		group by PRODUCT_ID
		<if test="query !=null"> having a.NAME LIKE '%${query}%' </if>
		<if test="amount!=null">order by current_amount</if>
		<if test="amount">desc</if>
		<if test="current">order by reg_date desc</if>
	</select>

	<insert id="save" parameterType="Stock">
		INSERT INTO STOCK (PLMA, AMOUNT, MADE_DATE, IO_DATE, `DESC`, MEMBER_ID, PRODUCT_ID, CATEGORY_ID)
		values ( #{plma}, #{amount} , #{madeDate}, #{ioDate}, #{desc}, #{memberId}, #{productId}, #{categoryId}  )
	</insert>

	<insert id="saveByOrder" parameterType="Stock">
		INSERT INTO STOCK (PLMA, AMOUNT, `DESC`, PRODUCT_ID, CATEGORY_ID, ORDER_ID)
		values
		<foreach collection="list" item="s" separator=",">
			( #{s.plma}, #{s.amount}, #{s.desc}, #{s.productId}, #{s.categoryId} , #{s.orderId} )
		</foreach>
	</insert>

	<update id="update" parameterType="Stock">
		UPDATE STOCK
		<set>
			<if test="plma != null &amp;&amp; plma!=0 ">PLMA = #{plma},</if>
			<if test="amount != null &amp;&amp; plma!=0 ">AMOUNT = #{amount},</if>
			<if test="madeDate !=null">MADE_DATE = #{madeDate},</if>
			<if test="ioDate !=null">IO_DATE = #{ioDate},</if>
			<if test="desc !=null">`DESC` = #{desc},</if>
			<if test="categoryId != null &amp;&amp; categoryId!=0 "> CATEGORY_ID = #{categoryId},</if>
			<if test="productId != null &amp;&amp; productId!=0 "> PRODUCT_ID = #{productId}</if>
		</set>
		<where>
			ID = #{id}
		</where>
	</update>

	<delete id="delete">
		DELETE FROM STOCK
		<where>
			<if test="list != null">
				ID IN (
				<foreach collection="ids" item="id" separator=",">
					#{id}
				</foreach>
				)
			</if>
		</where>
	</delete>

	<select id="countStatus">
		SELECT s.PRODUCT_ID, p.NAME , s.amount, sr.current_amount, sc.NAME category
		FROM (
		SELECT sum(PLMA*AMOUNT)amount, PRODUCT_ID
		FROM STOCK GROUP BY PRODUCT_ID HAVING amount &lt;= 10
		ORDER BY amount)s
		JOIN(
		SELECT PRODUCT_ID, PLMA*AMOUNT current_amount , CATEGORY_ID, REG_DATE
		FROM STOCK
		WHERE ID in (SELECT max(ID)id from STOCK GROUP BY PRODUCT_ID)
		)sr on s.PRODUCT_ID = sr.PRODUCT_ID
		JOIN STOCK_CATEGORY sc on sr.CATEGORY_ID = sc.ID
		JOIN PRODUCT p on s.PRODUCT_ID = p.ID;
	</select>

</mapper>