<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.product.StockRepository">

	<select id="findById" resultType="StockView">
		SELECT *
		FROM STOCK_VIEW
		WHERE PRODUCT_ID = #{productId};
	</select>

	<select id="findAll" resultType="StockView">
		SELECT MAX(STOCK_ID) STOCK_ID, a.PRODUCT_ID ,a.NAME ,a.CURRENT_AMOUNT , a.QUANTITY, a.QUANTITY_CATEGORY_NAME ,a.WEIGHT , a.WEIGHT_CATEGORY_NAME ,a.PLMA , a.SYMBOL , a.AMOUNT , a.IO_DATE , a.MADE_DATE ,MAX(REG_DATE) AS reg_date, a.`DESC` , a.STOCK_CATEGORY_ID , a.STOCK_CATEGORY_NAME
		FROM STOCK_VIEW a
		group by PRODUCT_ID
		order by current_amount
		<if test="amount">desc</if>
		<if test="current">, reg_date desc</if>
	</select>


</mapper>