<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.order.LocationRepository">
    <select id="findAll" resultType="Location">
		select
			*
		from Location
		<where>
			<if test="memberId != null">
				member_id = #{memberId}
			</if>
		</where>
	</select>

	
	<select id="findById" resultType="Location">
		select
			*
		from LOCATION
		where id = #{id}
	</select>

	<select id="findByMemberId" resultType="Location">
		select
		*
		from LOCATION
		where MEMBER_ID = #{id}
		and STATE = 1
	</select>

	<!--기본 배송지 외 배송지 목록-->
	<select id="findListByMemberId" resultType="Location">
		select
		*
		from LOCATION
		where MEMBER_ID = #{memberId}
		and STATE = 0
	</select>

	<select id="findByOrderId" resultType="LocationHistory">
		select
		*
		from LOCATION_HISTORY
		where ORDER_ID = #{orderId}
	</select>

	<insert id = "saveHistory" parameterType="LocationHistory" >
		insert into
		LOCATION_HISTORY(ZIP_CODE,ADDR1,ADDR2,RECEIVER_NAME,RECEIVER_PHONE,LABEL,NOTE,GATE_PWD,CATEGORY_ID,MEMBER_ID,ORDER_ID,LOCATION_ID)
		values(#{zipCode},#{addr1},#{addr2},#{receiverName},#{receiverPhone},#{label},#{note},#{gatePwd},#{categoryId},#{memberId},#{orderId},#{locationId})
	</insert>


	<update id="updateLocationByMemberId" parameterType="location">
		UPDATE LOCATION
		<set>
			<if test="addr1 != null"> addr1 = #{addr1}, </if>
			<if test="addr2 != null"> addr2 = #{addr2}, </if>
		</set>
	</update>

	<delete id="deleteLocation">
		DELETE FROM LOCATION WHERE ID= #{locationId}
	</delete>

</mapper>