<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.order.OrderRepository">
	<select id="findAll" resultType="Order">
		select
		*
		from `ORDER`
		<where>
			<if test="memberId != null">
				member_id = #{memberId}
			</if>
		</where>
	</select>


	<select id="findById" resultType="Order">
		select
		*
		from `ORDER`
		where id = #{id}
	</select>


	<select id="findByMemberId" resultType="Order">
		select
		*
		from `ORDER`
		where member_id = #{memberId}
		and type in (1,2,3,4,5)
		order by date desc
	</select>

	<select id="findCancellationByMemberId" resultType="Order">
		select
		*
		from `ORDER`
		where member_id = #{memberId}
		and type in (6,7)
		order by date desc
	</select>


	<insert id="save" parameterType="Order">
		insert into `ORDER`(ID,`DATE`, `TYPE`, MEMBER_ID, LOCATION_ID)
		VALUES(
		#{id}
		,current_timestamp()
		,#{type}
		,#{memberId}
		,#{locationId})
	</insert>

	<update id="update" parameterType="Order">
		update `ORDER` set
		type = #{orderType} where id = #{orderId}
	</update>

	<select id="countByMemberId" resultType="Integer">
		SELECT IFNULL(COUNT(ID), 0) AS count_order
		FROM `ORDER`
		WHERE MEMBER_ID = #{member_Id}
	</select>

	<select id="findRecentByMemberId" resultType="Order">
		SELECT *
		FROM `ORDER`
		WHERE MEMBER_ID = #{member_Id}
		ORDER BY DATE DESC
		LIMIT 1
	</select>

</mapper>