<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.order.OrderRepository">
	<select id="findAll" resultType="Order">
		select
		*
		from `ORDER`
		<where>
			<if test="memberId != null">
				member_id = #{memberId}
			</if>
		</where>
	</select>


	<select id="findById" resultType="Order">
		select
		*
		from `ORDER`
		where id = #{id}
	</select>

	<insert id="save" parameterType="Order">
		insert into `ORDER`(`DATE`, `TYPE`, MEMBER_ID, LOCATION_ID)
		VALUES(
		current_timestamp()
		,#{type}
		,#{memberId}
		,#{locationId})
	</insert>

</mapper>