<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.order.OrderItemViewRepository">
	<select id="findAll" resultType="OrderItemView">
		select
		*
		from ORDER_ITEM_VIEW
		<where>
			<if test="memberId != null">
				member_id = #{memberId}
			</if>
		</where>
	</select>

	<select id="findByOrderId" resultType="OrderItemView">
		select
		*
		from ORDER_ITEM_VIEW
		where order_id = #{orderId}
	</select>

	<select id="findByOrderIds" resultType="OrderItemView">
		select
		*
		from ORDER_ITEM_VIEW
		where order_id in
		<foreach collection="orderIds" item="orderId" index="index" separator="," open="(" close=")">#{orderId}</foreach>
	</select>

</mapper>