<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/inc/layout">
<head>
    <meta charset="UTF-8">
    <title>기농이네 - 순수한 땅, 순수한 먹거리</title>
    <link rel="stylesheet" href="/css/user/product/list.css">
</head>
<body>

<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:20 max-w:9 w:10p pr:4 pl:4 md:pr:0 md:pl:0">
    <div class="d:flex fl-dir:column gap:2 md:gap:3 ai:center p:4">
        <div class="icon icon:checkCircle icon-color:main-6">아이콘</div>
        <div><span th:text="${name}">기농이</span><span>님의 주문이 완료되었습니다!</span></div>
    </div>

    <section class="d:flex fl-dir:column gap:6 md:gap:8 p:4 bd bd-radius:2">
        <h1 class="d:none">주문 상품 정보 요약</h1>
        <div class="d:flex gap:15">
            <div>
                <img class="bd-radius:1" th:src="${product.thumbnailPath +'/'+ product.thumbnailName}"   src="" alt="상품 썸네일" width="88px" height="88px">
            </div>
            <div>
                <span th:text="${item.prettyName}">텃밭 흙 당근, 2개입</span>
                <span th:if="${size > 0}" th:text="' 외 '+ ${size} + '건'">외 3건</span>
            </div>
        </div>
        <div class="d:flex jc:space-between">
            <span class="fw:3">최종 결제 금액</span>
            <span class="fw:3" th:text="${#numbers.formatInteger(item.totalAmt,3,'COMMA') + '원' }">30,000원</span>
        </div>
    </section>

    <div class="d:flex jc:center gap:1">
        <span class="color:main-6">[배송준비중]</span>
        <span>상태에서는 주문 취소가 불가능합니다.</span>
    </div>

    <div class="d:flex jc:center gap:7 md:gap:9">
       <div class="n-btn n-btn-size:2 w:3 md:w:4"><a href="/index">홈으로</a></div>
       <div class="n-btn n-btn-type:outline n-btn-size:2 w:3 md:w:4"><a href="list" th:href="@{detail(orderId=${item.id})}">주문내역 보기</a></div>
    </div>

    <div class="h:10p d:flex ai:end">
        <img class="bg-size:contain w:10p" src="/img/banner.svg" alt="" height="144px" width="auto">
    </div>

</main>

</body>
</html>