<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/inc/layout-back">
<head>
  <meta charset="UTF-8">
  <title>Product-List</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/js/user/order/detail.js" defer></script>
  <link rel="stylesheet" href="/css/user/product/list.css">
</head>
<body>

<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:20 max-w:9 w:10p pr:4 pl:4 md:pr:0 md:pl:0">
<!--  페이지 제목-->
  <section class="d:none md:d:flex fl-dir:column gap:6 md:gap:8 p:4 bd-bottom bd-color:base-3">
    <h1 class="d:none">주문 상세 요약</h1>
    <div class="d:flex jc:center gap:6">
      <span class="fw:3 fs:5">주문 상세 - </span>
      <!-- <span class="fw:3 fs:5">{{order.orderItems[0].productName}}</span>
      <span class="fw:3 fs:5">외 {{(order.orderItems.length)-1}} 건</span> -->
    </div>
  </section>

<!--  주문일자 및 주문번호, 주문상태 표시-->
  <section class="d:flex fl-dir:column gap:5 md:gap:8 p:4 bd-bottom bd-color:base-3 bg-color:base-2 md:bg-color:transparent">
    <h1 class="d:none">주문 상태 요약</h1>
    <div class="d:flex fl-dir:column gap:10 p:5">
      <div class="d:flex jc:space-between">
        <div>
          <!--<span class="fs:2 md:fs:4 fw:3 color:base-9 pr:1" v-text="order.orderDate"></span>
           <span class="fs:2 md:fs:4 fw:3 color:base-9">{{ order.orderDate }}</span> -->
          <span class="fs:2 md:fs:4 fw:3 color:base-9">주문</span>
        </div>
        <div>
          <span class="fs:2 md:fs:4 fw:3 color:base-9 pr:1">주문번호</span>
          <!-- <span class="fs:2 md:fs:4 fw:3 color:base-9">{{ order.orderId }}</span> -->
        </div>
       
      </div>
      <div class="d:flex jc:space-between gap:4 p:5">
        <!--<div class="d:flex fl-dir:column ai:center gap:2 md:gap:3 status" v-for="state in order.orderState" :key="state.id">
          <div v-if="state.id === order.orderStatus" class="n-item n-item-type:outline-box bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center
            bg-color:main-6" style="width: 36px; height: 36px;"></div>
          <div v-else class="n-item n-item-type:outline-box bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center bg-color:base-4" style="width: 21px; height: 21px;"></div>
           <span v-if="state.id === order.orderStatus" class="fs:1 md:fs:3 color:main-6">{{ state.name }}</span>
          <span v-else class="fs:1 md:fs:3 color:base-4">{{ state.name }}</span> 
        </div>-->
        <!-- <div class="d:flex fl-dir:column ai:center gap:2 md:gap:3">
          <div class="n-item n-item-type:outline-box bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center bg-color:base-4" style="width: 21px; height: 21px;"></div>
          <span class="fs:1 md:fs:3 color:base-9">배송준비중</span>
        </div>
        <div class="d:flex fl-dir:column ai:center gap:2 md:gap:3">
          <div class="n-item n-item-type:outline-box bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center bg-color:base-4" style="width: 21px; height: 21px;"></div>
          <span class="fs:1 md:fs:3 color:base-9">배송중</span>
        </div>
        <div class="d:flex fl-dir:column ai:center gap:2 md:gap:3">
          <div class="n-item n-item-type:outline-box bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center bg-color:base-4" style="width: 21px; height: 21px;"></div>
          <span class="fs:1 md:fs:3 color:base-9">배송완료</span>
        </div>
      </div> -->
    </div>
  </section>

<!-- 주문한 상품 내역-->
  <section class="d:flex fl-dir:column gap:4 pl:5 pr:5 ">
    <h1 class="d:none">주문 상품 내역</h1>
    <div class="d:flex fl-dir:column gap:2 md:gap:4 w:10p ">
      <label>
        <input type="checkbox" class="n-toggle n-toggle-type:check-box" @change="checkAll" />
        전체선택
      </label>
    </div>
    <div class="d:flex gap:2 md:gap4 w:10p pr:10" v-for="item in itemList" :key="item.id">
      <label>
        <input type="checkbox" class="n-toggle n-toggle-type:check-box" v-model="item.checked" />
      </label>
      
      <div class="d:flex ai:center gap:2 md:gap:4 w:10p">
        <img class="bd-radius:1" th:src="@{/img/Meongmeong.jpg}" src="" alt="상품 썸네일" width="120px" height="120px">
        <div class="d:flex fl-dir:column jc:space-between ai:start md:ai:center md:fl-dir:row gap:2 w:10p">
          <span class="fs:2 md:fs:3"> {{ item.productName }} ({{item.weight}}{{item.weightCategory}})</span>
          <div class="d:flex fl-dir:row pos:relative md:jc:space-between md:ai:center md:pos:none gap:3">
            <span class="fs:2 md:fs:3 fw:3">{{ Number(item.price).toLocaleString() }}원</span>
            <span class="md:d:none bar"></span>
            <span class="fs:2 md:fs:3">{{ item.quantity }}개</span>
          </div>
          <div class="d:flex d:none fl-dir:column gap:2">
            <div class="n-btn n-btn-type:outline n-btn-size:1">교환</div>
            <div class="n-btn n-btn-type:outline n-btn-size:1">환불</div>
          </div>
        </div>
      </div>
    </div>
<!--    pc버전-->
<!--
    <div class="d:flex gap:2 md:gap4 w:10p pr:10">
      <label>
        <input type="checkbox" class="n-toggle n-toggle-type:check-box" />
      </label>
      <div class="d:flex ai:center gap:2 md:gap:4 w:10p">
        <img class="bd-radius:1" th:src="@{/img/Meongmeong.jpg}"  src="" alt="상품 썸네일" width="120px" height="120px">
        <div class="d:flex jc:space-between ai:center w:10p">
          <span class="fs:2 md:fs:3">텃밭 흙 당근, 2개입</span>
          <span class="fs:2 md:fs:3 fw:3">2,500원</span>
          <span class="fs:2 md:fs:3">2개</span>
          <div class="d:none md:d:flex fl-dir:column gap:2">
            <div class="n-btn n-btn-type:outline n-btn-size:1">후기쓰기</div>
            <div class="n-btn n-btn-type:outline n-btn-size:1 n-btn-color:base">배송완료</div>
          </div>
        </div>
      </div>
    </div>
  -->
  </section>
<!--  버튼들-->
  <section class="d:flex fl-dir:column gap:10">
    <h1 class="d:none">버튼</h1>
    <div>
      <span class="d:flex jc:center color:sub-1 fw:3">품절된 상품은 제외됩니다.</span>
    </div>
    <div class="d:flex jc:center gap:7 md:gap:10">
      <div class="n-btn n-btn-size:2 w:10 md:w:10"><a href="">선택상품 바로 담기</a></div>
      <div class="n-btn n-btn-size:2 w:10 md:w:10"><a href="">선택상품 다시 담기</a></div>
    </div>
    <div class="d:flex fl-grow:1">
      <div class="n-btn n-btn-type:outline n-btn-size:2 w:10 md:w:10"><a href="">전체 상품 다시 담기</a></div>
    </div>
  </section>

<!--  결제정보-->
  <section class="">
    <h1 class="d:none">결제정보</h1>
    <div class="n-expander bd-top bd-color:base-4 bd-width:3 pl:5 pr:5">
      <div class="n-expander-title bd-bottom bd-color:base-4 bd-width:1 fs:5 md:fs:6 fw:3">
        <input type="checkbox" class="n-expander-trigger" checked/>
        결제 정보
      </div>
      <div class="n-expander-content px:2 gap:4">
        <!--<div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">상품금액</span>
          <span class="fs:3 md:fs:4 fw:3">{{ order.payment.totalAmt }}원</span>
        </div>
        <div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">배송비</span>
          <span class="fs:3 md:fs:4 fw:3">{{order.payment.deliveryFee}}원</span>
        </div>
        <div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">적립금</span>
          <span class="fs:3 md:fs:4 fw:3">{{order.payment.point}}P</span>
        </div>
        <div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">쿠폰</span>
          <span class="fs:3 md:fs:4 fw:3">{{order.payment.coupon}}원</span> -->
        </div>
        <div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">결제수단</span>
          <span class="fs:3 md:fs:4 fw:3">비씨카드/일시불</span>
        </div>
        <div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">총 결제금액</span>
          <span class="fs:3 md:fs:4 fw:3">26,900원</span>
        </div>
        <div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">환불 방법</span>
          <span class="fs:3 md:fs:4 fw:3">적립금 환불</span>
        </div>
      </div>
    </div>
  </section>

<!--  배송지 정보-->
  <section class="">
    <h1 class="d:none">배송지 정보</h1>
    <div class="n-expander bd-top bd-color:base-4 bd-width:3 pl:5 pr:5">
      <div class="n-expander-title bd-bottom bd-color:base-4 bd-width:1 fs:5 md:fs:6 fw:3">
        <input type="checkbox" class="n-expander-trigger" checked/>
        배송지 정보
      </div>
      <div class="n-expander-content px:2 gap:4">
        <div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">수령인</span>
          <span class="fs:3 md:fs:4 fw:3"> {{ address.receiverName }} </span>
        </div>
        <div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">연락처</span>
          <span class="fs:3 md:fs:4 fw:3"> {{ address.receiverPhone }} </span>
        </div>
        <div class="d:flex fl-dir:column p:2" >
          <div class="d:flex fl-dir:row jc:space-between">
            <span class="fs:3 md:fs:4 fw:3">주소</span>
            <span class="fs:3 md:fs:4 fw:3"> {{ address.addr1 }} </span>
          </div>
          <div class="text-align:end ">
            <span class="fs:3 md:fs:4 fw:3 "> {{ address.addr2 }} </span>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  주문자 정보-->
  <section class="">
    <h1 class="d:none">주문자 정보</h1>
    <div class="n-expander bd-top bd-color:base-4 bd-width:3 pl:5 pr:5">
      <div class="n-expander-title bd-bottom bd-color:base-4 bd-width:1 fs:5 md:fs:6 fw:3">
        <input type="checkbox" class="n-expander-trigger" checked/>
        주문자 정보
      </div>
      <div class="n-expander-content px:2 gap:4">
        <div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">주문인</span>
          <span class="fs:3 md:fs:4 fw:3">{{ member.name }}</span>
        </div>
        <div class="d:flex fl-dir:row jc:space-between w:10p p:2" >
          <span class="fs:3 md:fs:4 fw:3">연락처</span>
          <span class="fs:3 md:fs:4 fw:3">{{ member.phone }}</span>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="d:flex fl-grow:1">
      <div class="n-btn n-btn-type:outline n-btn-size:2 w:10 md:w:10"><a href="">주문내역 삭제</a></div>
    </div>
  </section>
</main>

</body>
</html>