<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/inc/layout-back">
<head>
  <meta charset="UTF-8">
  <title>Product-List</title>
  <link rel="stylesheet" href="/css/user/product/list.css">
</head>
<body>

    <main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:13 max-w:9 w:10p pr:4 pl:4 md:pr:0 md:pl:0">
        <!--  페이지 제목-->
        <nav>
            <h1 class="d:none">탭</h1>
            <ul id='tabbar' class="n-tabbar n-tab-grow w:10p">
                <li class="active"><a href="#" class="h:4">주문 내역</a></li>
                <li><a href="#" class="h:4">주문 취소 내역</a></li>
            </ul>
        </nav>
        
        <!-- 주문 취소 내역 카드 -->
        <section class="d:flex fl-dir:column gap:2 pt:5 pb:5">
            <span class="d:flex flex-grow:1 jc:right color:sub-5 fw:3">취소 완료</span>
            <div class="d:flex fl-dir:column bd bd-radius:2 bd-color:base-4 pt:2 pb:2 pr:5 pl:5 gap:3">
                <div class="d:flex fl-dir:row gap:3">
                    <img class="bd-radius:1" th:src="@{/img/Meongmeong.jpg}"  src="" alt="상품 썸네일" width="120px" height="120px">
                    <div class="d:flex fl-dir:column jc:center gap:3">
                        <div>
                            <span class="fs:2 md:fs:3 color:base-4">2024.01.17</span>
                            <span class="fs:2 md:fs:3 color:base-4">환불</span>
                        </div>
                        <span class="fs:2 md:fs:3">텃밭 흙 당근, 2개입</span>
                        <div class="d:flex fl-dlr:row gap:2 " >
                            <span>34,000원</span>
                            <span class="deco icon:caret_right icon-size:1 deco-position:right ai:center color:base-7">상세보기</span>
                        </div>
                    </div>
                </div>
                <div class="d:flex fl-dir:row jc:space-between w:10p gap:2">
                    <div class="n-btn n-btn-type:filled n-btn-size:2 w:4p">1:1 문의</div>
                    <div class="n-btn n-btn-type:filled n-btn-size:2 w:4p">장바구니</div>
                </div>
            </div>
        </section>

        <!-- 주문 내역 카드 -->
        <section class="d:flex fl-dir:column gap:2 pt:5 pb:5">
            <span class="d:flex flex-grow:1 jc:right color:base-4 fw:3">배송전</span>
            <div class="d:flex fl-dir:column bd bd-radius:2 bd-color:base-4 pt:2 pb:2 pr:5 pl:5 gap:3">
                <div class="d:flex fl-dir:row gap:3">
                    <img class="bd-radius:1" th:src="@{/img/Meongmeong.jpg}"  src="" alt="상품 썸네일" width="120px" height="120px">
                    <div class="d:flex fl-dir:column jc:center gap:3">
                        <div>
                            <span class="fs:2 md:fs:3 color:base-4">2024.01.17</span>
                            <span class="fs:2 md:fs:3 color:base-4">결제</span>
                        </div>
                        <span class="fs:2 md:fs:3">텃밭 흙 당근, 2개입</span>
                        <div class="d:flex fl-dlr:row gap:2">
                            <span>34,000원</span>
                            <span class="deco icon:caret_right icon-size:1 deco-position:right ai:center color:base-7">상세보기</span>
                        </div>
                    </div>
                </div>
                <div class="d:flex fl-dir:row jc:space-between w:10p gap:2">
                    <div class="n-btn n-btn-type:filled n-btn-size:2 w:3p">1:1 문의</div>
                    <div class="n-btn n-btn-type:filled n-btn-size:2 w:3p">배송조회</div>
                    <div class="n-btn n-btn-type:filled n-btn-size:2 w:3p">구매확정</div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>