<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Product-List</title>
    <link rel="stylesheet" href="/css/user/product/list.css">
    <link rel="stylesheet" href="/css/toggle.css">
</head>
<script>
    window.addEventListener("load", function () {
        const dropdownButtonCategory = document.getElementById("dropdown-btn-category");
        const dropdownListCategory = document.getElementById("dropdown-list-category");

        dropdownButtonCategory.addEventListener("click", function () {
            dropdownListCategory.classList.toggle("active");
        });
    });
    window.addEventListener("load", function () {
        const dropdownButtonKeepcase = document.getElementById("dropdown-btn-keepcase");
        const dropdownListKeepcase = document.getElementById("dropdown-list-keepcase");

        dropdownButtonKeepcase.addEventListener("click", function () {
            dropdownListKeepcase.classList.toggle("active");
        });
    });

</script>
<body>

    <main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:20 max-w:9 w:10p pr:4 pl:4 md:pr:0 md:pl:0 ">
        <h1 class="d:none md:d:flex ai:center jc:center h:4 w:10p fs:5 fw:3">주문하기</h1>

        <section class="d:flex fl-dir:column gap:6 md:gap:12 w:10p">
            <h1 class="d:none">주문 상품 목록</h1>
            <section class="w:10p d:flex fl-dir:column gap:4 md:gap:8 ">
                <h1 class="d:none">상품 영역</h1>
                <!--상품 카드 한개-->
                <div class="d:flex w:10p gap:3">
                    <div>
                        <a href="">
                            <img th:src="@{/img/Meongmeong.jpg}" src="" height="110px" width="110px" alt="상품 이미지" class="bd-radius:4"/>
                        </a>
                    </div>
                    <div class="d:flex fl-dir:column gap:3">
                        <div >
                            <a href="">
                                <span>텃밭에서 키우고 자란 아주 매우 딜리셔스한 흙 당근, 2개입 </span>
                            </a>
                        </div>
                        <div class="d:flex jc:space-between w:10p">
                            <div><span>2,500</span><span>원</span></div>
                            <div>2개</div>
                        </div>
                    </div>
                </div>

                <!-- ========= 여기서부터 더미데이터 지워도됨 ========= -->
                <div class="d:flex w:10p gap:3">
                    <div>
                        <a href="">
                            <img th:src="@{/img/Meongmeong.jpg}" src="" height="110px" width="110px" alt="상품 이미지" class="bd-radius:4"/>
                        </a>
                    </div>
                    <div class="d:flex fl-dir:column gap:3">
                        <div >
                            <a href="">
                                <span>텃밭에서 키우고 자란 아주 매우 딜리셔스한 흙 당근, 2개입 </span>
                            </a>
                        </div>
                        <div class="d:flex jc:space-between w:10p">
                            <div><span>2,500</span><span>원</span></div>
                            <div>2개</div>
                        </div>
                    </div>
                </div>

                <div class="d:flex w:10p gap:3">
                    <div>
                        <a href="">
                            <img th:src="@{/img/Meongmeong.jpg}" src="" height="110px" width="110px" alt="상품 이미지" class="bd-radius:4"/>
                        </a>
                    </div>
                    <div class="d:flex fl-dir:column gap:3">
                        <div >
                            <a href="">
                                <span>텃밭에서 키우고 자란 아주 매우 딜리셔스한 흙 당근, 2개입 </span>
                            </a>
                        </div>
                        <div class="d:flex jc:space-between w:10p">
                            <div><span>2,500</span><span>원</span></div>
                            <div>2개</div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="w:10p d:flex jc:end gap:3">
                <span class="fw:3">총 상품 금액</span>
                <span class="color:main-6 fw:3">15,000</span>
                <span class="fw:3">원</span>
            </div>
            <!-- ======= 지우기 ===========  -->
        </section>

        <section class="d:flex fl-dir:column gap:6 md:gap:12 w:10p">
            <h1 class="fs:3 md:fs:4 fw:3">쿠폰 사용</h1>
            <div class="d:flex jc:space-between w:10p">
                <div>사용 가능 쿠폰</div>
                <div class="color:main-6"><span>0</span> <span>장</span></div>
            </div>
            <div class="n-dropdown">
                <button id="dropdown-btn-category" type="button" class="n-btn n-btn:outline w:10p jc:space-between">
                    <span class="fl:fill">사용할 수 있는 쿠폰</span>
                    <span>0</span><span>장</span>
                    <span class="icon icon:RT icon-size:1 icon-color:main-6 ml:2 fl:fill"></span>
                </button>
                <ul id="dropdown-list-category" class="min-w:5">
                    <li>회원 가입 감사 쿠폰</li>
                    <li>생일 축하 쿠폰 </li>
                </ul>
            </div>
        </section>

        <section class="d:flex fl-dir:column gap:6 md:gap:12 w:10p">
            <h1 class="fs:3 md:fs:4 fw:3">적립금 사용</h1>
            <div class="d:flex jc:end gap:2 md:3 w:10p">
                <div class="fw:3">보유 적립금</div>
                <div class="fw:3 color:main-6"><span>0</span><span>P</span></div>
            </div>

        </section>

        <section class="d:flex fl-dir:column ai:center gap:6 md:gap:12 w:10p">
            <h1 class="fs:3 md:fs:4 fw:3 w:10p">결제 수단</h1>
            <div class="d:flex w:6 md:w:7 gap:4 jc:center md:gap:18 fl-wrap:wrap">
                <label class="n-toggle n-toggle-type:outline-box txt-al:center w:3 md:w:4 h:2 md:h:4  fw:3">
                    카카오페이
                    <input type="radio" name="pay" id="1" value="k" class="d:none">
                </label>
                <label class="n-toggle n-toggle-type:outline-box w:3 md:w:4 h:2 md:h:4 fw:3">
                    네이버페이
                    <input type="radio" name="pay" id="2" value="n" class="d:none">
                </label>
                <label class="n-toggle n-toggle-type:outline-box w:3 md:w:4 h:2 md:h:4 fw:3">
                    토스페이
                    <input type="radio" name="pay" id="3" value="t" class="d:none">
                </label>
                <label class="n-toggle n-toggle-type:outline-box w:3 md:w:4 h:2 md:h:4 fw:3">
                    페이코
                    <input type="radio" name="pay" id="4" value="p" class="d:none">
                </label>
            </div>

        </section>

        <nav>
            <h1>버튼</h1>
         
        </nav>
    </main>
    
</body>
</html>