.cart-section{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 40px;

    position: absolute;
    bottom: 4px;

}
.cart-section > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    border-radius: 999px;
    background-color: var(--color-icon-bg);
    width: 36px;
    height: 36px;
}

.cart-section > div:active {
    background-color: var(--color-main-6);
}

.n-pager li.active>*, .n-pager .n-page.active {
    background-color: var(--color-main-6);
}
    
@media (min-width: 768px) {
    .cart-section{
        height: 60px;
    }

    div:has(div.cart-section):hover > div.cart-section{
        background-color: rgb(255,255,255,0.5);
    }

    .cart-section > div{
        background-color: var(--color-base-1);
        width: 44px;
        height: 44px;
    }

    .cart-section > div:hover {
        background-color: var(--color-icon-bg);
    }

    .cart-section > div:active {
        background-color: var(--color-main-6);
    }


    .cart-section > div:hover .icon\:shopping_cart_simple::before {
        background-color: var(--color-base-1);
    }

    .icon\:shopping_cart_simple:hover::before,
    .icon\:shopping_cart_simple:active::before {
        background-color: var(--color-base-1) !important;

    }

    .icon-color\:base-1:before {
        background-color: var(--color-base-9);
    }


}