.cart-section{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 40px;

    position: absolute;
    bottom: 4px;

}
.cart-section > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    background-color: var(--color-icon-bg);
    border-radius: 999px;

    width: 36px;
    height: 36px;
}

@media (min-width: 768px) {
    .cart-section{
        height: 60px;
        background-color: rgb(255,255,255,0.5);
    }

    .cart-section > div{

        width: 44px;
        height: 44px;
    }
}