<!DOCTYPE html>
<html lang="ko">
    <nav class="d:none md:d:flex bg-color:base-1 top:2 pos:sticky bd-bottom bd-color:base-2 zi:1">
        <h1 class="d:none">PC 카테고리</h1>
        <ul class="d:flex ai:center h:4 jc:space-between w:10p">
          <li><a href="">상품관리</a></li>
          <li><a href="">회원관리</a></li>
          <li><a href="">주문관리</a></li>
          <li><a href="">쿠폰관리</a></li>
          <li><a href="">적립금관리</a></li>
          <li><a href="">공지관리</a></li>
          <li><a href="">문의관리</a></li>
          <li><a href="">통계</a></li>
        </ul>
      </nav>
</html>