<!DOCTYPE html>
<html lang="ko">
    <nav class="d:flex md:d:none h:5 w:10p bg-color:base-1 bottom:1 pos:fixed bd-top bd-color:base-2">
        <h1 class="d:none">네비게이션바</h1>
        <ul class="d:flex fl-grow:1 ai:center jc:space-around" >
            <li>
                <a href="" class="d:flex ai:center fl-dir:column gap:1">
                    <span class="icon icon:calendar_check icon-size:4">아이콘</span>
                    <span>주문관리</span>
                </a>
            </li>
            <li>
                <a href="" class="d:flex ai:center fl-dir:column gap:1">
                    <span class="icon icon:house icon-size:4">아이콘</span>
                    <span>홈</span>
                </a>
            </li>
            <li>
                <a href="" class="d:flex ai:center fl-dir:column gap:1">
                    <span class="icon icon:phone_call icon-size:4">아이콘</span>
                    <span>문의관리</span>
                </a>
            </li>
        </ul>
    </nav>
</html>