.icon\:RT::before,
.icon\:RT::after {
    -webkit-mask-image: url("../icon/RT.svg");
    mask-image: url("../icon/RT.svg");
}


.icon\:clap::before,
.icon\:clap::after {
    -webkit-mask-image: url("../icon/clap.svg");
    mask-image: url("../icon/clap.svg");
}

.icon\:leaf::before,
.icon\:leaf::after {
    -webkit-mask-image: url("../icon/leaf.svg");
    mask-image: url("../icon/leaf.svg");
}


.icon\:thumbsup::before,
.icon\:thumbsup::after {
    -webkit-mask-image: url("../icon/thumbsup.svg");
    mask-image: url("../icon/thumbsup.svg");
}

.icon\:recents::before,
.icon\:recents::after {
    -webkit-mask-image: url("../icon/recents.svg");
    mask-image: url("../icon/recents.svg");
}


.icon\:smile::before,
.icon\:smile::after {
    -webkit-mask-image: url("../icon/smile.svg");
    mask-image: url("../icon/smile.svg");
}

