.icon\:RT::before,
.icon\:RT::after {
    -webkit-mask-image: url("../icon/RT.svg");
    mask-image: url("../icon/RT.svg");
}


.icon\:clap::before,
.icon\:clap::after {
    -webkit-mask-image: url("../icon/clap.svg");
    mask-image: url("../icon/clap.svg");
}

.icon\:leaf::before,
.icon\:leaf::after {
    -webkit-mask-image: url("../icon/leaf.svg");
    mask-image: url("../icon/leaf.svg");
}


.icon\:thumbsup::before,
.icon\:thumbsup::after {
    -webkit-mask-image: url("../icon/thumbsup.svg");
    mask-image: url("../icon/thumbsup.svg");
}

.icon\:recents::before,
.icon\:recents::after {
    -webkit-mask-image: url("../icon/recents.svg");
    mask-image: url("../icon/recents.svg");
}


.icon\:smile::before,
.icon\:smile::after {
    -webkit-mask-image: url("../icon/smile.svg");
    mask-image: url("../icon/smile.svg");
}

.icon\:x::before,
.icon\:x::after {
    -webkit-mask-image: url(../icon/x.svg);
    mask-image: url(../icon/x.svg);
    background-color: var(--color-sub-2);

    width: 12px;
    height: 12px;
}


.icon\:checkCircle::before,
.icon\:checkCircle::after {
    -webkit-mask-image: url("../icon/checkCircle.svg");
    mask-image: url("../icon/checkCircle.svg");
}

.icon\:carrot::before,
.icon\:carrot::after {
    -webkit-mask-image: url("../icon/carrot.svg");
    mask-image: url("../icon/carrot.svg");
}
