/*========== main의  gap, 화면 크기 기본 설정 =================*/

.main-user,
.main-admin{
    gap : var(--gap-8);
}

@media (min-width: 780px) {
    .main-user {
        gap : var(--gap-20) !important;
    }

    .main-admin {
        gap: var(--gap-13) !important;
    }

    .pc\:680{
        max-width: var(--width-9) !important;   /* PC 버전 화면 680px 인 페이지 */
    }

    .pc\:500{
        max-width: var(--width-8) !important;   /* PC 버전 화면 500px 인 페이지 */
    }
}


/*========== margin - side =================*/  /* 메인이 아닌 섹션 별로 마진을 줄 때 */

.m-side{
    margin-left: var(--gap-4) !important;
    margin-right: var(--gap-4) !important;
}

@media (min-width: 780px) {
    .m-side{
        margin-left: var(--gap-0) !important;
        margin-right: var(--gap-0) !important;
    }
}


/*========== padding - side =================*/  /* 메인에게 패딩으로 간격 줄 때 */

.p-side {
    padding-right: var(--gap-4) !important;
    padding-left: var(--gap-4) !important;
}

@media (min-width: 780px) {
    .p-side{
        padding-left: var(--gap-0) !important;
        padding-right: var(--gap-0) !important;
    }
}


/*========== .bar =================*/  /* 텍스트 구분 선(세로) user/product/list.html 참고 */
.bar:before {
    content: '';
    width: 2px;
    height: 14px;
    background: #e0e0e0;
    position: absolute;
    top: 49.5%;
    transform: translateY(-50%);
}