body{

    font-size: var(--font-size-2);
    color:var(--color-base-9);


    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 780px) {
    body {
        font-size : var(--font-size-3);
    }
  }

main{
    height: auto;
    max-width: var(--width-10);
    width: 100%;
}
