body{

    font-size: var(--font-size-2);
    color:var(--color-base-9);


    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 780px) {
    body {
        font-size : var(--font-size-3);
        padding-left: var(--gap-4);
        padding-right: var(--gap-4);
    }
}

main{
    height: auto;
    width: 100%;
}

header,
nav,
main,
aside,
footer{
    max-width: var(--width-10) !important;
    width: 100%;
}