/* toggle.css */
.n-toggle {

    /* toggle-type:dot */
    --toggle-dot-border-color: var(--color-base-5);
    --toggle-dot-background-color-checked: var(--color-main-6);
    --toggle-dot-checked-border-color: var(--color-main-6);
    --toggle-dot-checked-background-color: var(--color-main-6);
    --toggle-dot-border-color-checked : var(--color-main-6);

    /* toggle-type:outline-box */
    --toggle-outline-color: var(--color-main-6);
    --toggle-outline-background-color: var(--color-base-1);
    --toggle-outline-border-color: var(--color-main-6);
    --toggle-outline-checked-color: var(--color-main-6);
    --toggle-outline-background-color-checked: var(--color-main-6);
    --toggle-outline-checked-background-color: var(--color-main-6);
    --toggle-outline-checked-border-color: transparent;
}

