/*========== gap ==============================*/

.gap\:11{
    gap: var(--gap-11)  !important;
}
.gap\:12{
    gap: var(--gap-12)  !important;
}
.gap\:13{
    gap: var(--gap-13)  !important;
}
.gap\:14{
    gap: var(--gap-14)  !important;
}
.gap\:15{
    gap: var(--gap-15)  !important;
}
.gap\:16{
    gap: var(--gap-16)  !important;
}
.gap\:17{
    gap: var(--gap-17)  !important;
}
.gap\:18{
    gap: var(--gap-18)  !important;
}
.gap\:19{
    gap: var(--gap-19)  !important;
}
.gap\:20{
    gap: var(--gap-20)  !important;
}


/*========== font-color ==============================*/

.color\:main-4{
   color: var(--color-main-4);
   }        
.color\:main-5{
   color: var(--color-main-5);
   }        
.color\:main-6{
   color: var(--color-main-6);
   }


/*========== icon-color ==============================*/

.icon-color\:main-4::before,
.icon-color\:main-4::after {
    background-color: var(--color-main-4);
}

.icon-color\:main-5::before,
.icon-color\:main-5::after {
    background-color: var(--color-main-5);
}

.icon-color\:main-6::before,
.icon-color\:main-6::after {
    background-color: var(--color-main-6);
}


.deco-color\:main-4::before,
.deco-color\:main-4::after {
    background-color: var(--color-main-4);
}

.deco-color\:main-5::before,
.deco-color\:main-5::after {
    background-color: var(--color-main-5);
}

.deco-color\:main-6::before,
.deco-color\:main-6::after {
    background-color: var(--color-main-6);
}

