/*========== gap ==============================*/

.gap\:11{
    gap: var(--gap-11)  !important;
}
.gap\:12{
    gap: var(--gap-12)  !important;
}
.gap\:13{
    gap: var(--gap-13)  !important;
}
.gap\:14{
    gap: var(--gap-14)  !important;
}
.gap\:15{
    gap: var(--gap-15)  !important;
}
.gap\:16{
    gap: var(--gap-16)  !important;
}
.gap\:17{
    gap: var(--gap-17)  !important;
}
.gap\:18{
    gap: var(--gap-18)  !important;
}
.gap\:19{
    gap: var(--gap-19)  !important;
}
.gap\:20{
    gap: var(--gap-20)  !important;
}


/*========== font-color ==============================*/

.color\:main-1{
   color: var(--color-main-1);
   }
.color\:main-2{
   color: var(--color-main-2);
   }
.color\:main-3{
   color: var(--color-main-3);
   }
.color\:main-4{
   color: var(--color-main-4);
   }        
.color\:main-5{
   color: var(--color-main-5);
   }        
.color\:main-6{
   color: var(--color-main-6);
   }  
.color\:sub-1{
   color: var(--color-sub-1); 
   } 
.color\:sub-2{
   color: var(--color-sub-2);
}   
.color\:sub-3{
   color: var(--color-sub-3) ;
   } 
.color\:sub-4{
   color: var(--color-sub-4); 
   } 
.color\:sub-5{
   color: var(--color-sub-5) ;
   } 
.color\:sub-6{
   color: var(--color-sub-6);
   }