<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ginong.web.repository.point.PointHistoryRepository">
    <select id="findAll" resultType="PointHistoryView">
		select
			*
		from POINT_HISTORY_VIEW
		<where>
			<if test="memberId != null">
				member_id = #{memberId}
			</if>
		</where>
	</select>

	<select id="calc" resultType="int" parameterType="int">
		SELECT
		IFNULL(sum(PLMA*AMOUNT), 0) as 'avail'
		from POINT_HISTORY
		<where>
			<if test="memberId != null">
				member_id = #{memberId}
			</if>
		</where>
	</select>
	
	<insert id="save" parameterType="PointHistory">
		INSERT INTO POINT_HISTORY (
			PLMA, AMOUNT, MEMBER_ID
			<if test="pointId != null &amp;&amp; pointId > 0">,POINT_ID</if>
			<if test="orderId != null &amp;&amp; orderId > 0">,ORDER_ID</if>
		)
		values (
			#{plma} , #{amount}, #{memberId}
			<if test="pointId != null &amp;&amp; pointId > 0">,#{pointId}</if>
			<if test="orderId != null &amp;&amp; orderId > 0">,#{orderId}</if>
		)
	</insert>

	<select id="findById" resultType="PointHistoryView">
		select *
		from POINT_HISTORY_VIEW
		WHERE MEMBER_ID = #{memberId}
		LIMIT 1
	</select>

</mapper>