<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ginong.web.repository.member.MemberRepository">
    <select id="findByUserName" resultType="Member">
        select * from MEMBER
        where USER_NAME = #{name}
    </select>

    <select id="findById" resultType="Location">
        select
        *
        from LOCATION
        where MEMBER_ID = #{id}
        and STATE = 1
    </select>

</mapper>