<!DOCTYPE html>
<html lang="en">
    <header>
        <div>
            <h1><a href="">기농이네 관리자</a></h1>
    
            <nav>
                <h1>pc</h1>
                <ul>
                    <li><a href="">로그인</a></li>
                    <li><a href="">로그아웃</a></li>
                    <li><a href="">개인정보수정</a></li>
                </ul>
            </nav>

            <section>
                <h1>모바일</h1>
                <div><a href="">햄버거</a></div>
            </section>
   
        </div>
    </header>
</html>