<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/inc/layout-back">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/user/notice/detail.css">
</head>
<body>
<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:20 max-w:9 w:10p pr:4 pl:4 md:pr:0 md:pl:0">
    <section class="d:flex fl-dir:column gap:2 fl-grow:1">
        <h1 class="d:none">공지 디테일</h1>
        <div class="">결제 시스템 변경 안내</div>
        <div class="d:flex fl-dir:row gap:2">
            <span>작성일</span>
            <span>2024-01-01</span>
        </div>
        <div class="fl-grow:1 bd bd-color:main-6 p:5">
            가나다라마바사아자차카타파하
        </div>
    </section>
    <section class="d:flex gap:2 ai:center">
        <div class="w:5p">
            <p>기농이는 언제나 고객님의 가정과 건강에 도움이 되기를 바라고 있습니다.</p>
        </div>
        <div class="logo w:5p">기농이네 감자사진</div>
    </section>

</main>
</body>
</html>