<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:20 max-w:9 w:10p pr:4 pl:4 md:pr:0 md:pl:0">
    <h1 class="d:none">공지사항 리스트</h1>
    <section class = "d:flex jc:center ai:center bd-bottom bd-color:main-6 h:3">
        <h1 class="fs:4 fw:3">공지사항</h1>
    </section>
    <nav>
        <h1 class="d:none">공지사항 게시글 목록</h1>
        <div class="d:flex fl-dir:column gap:2">
            <div class = "d:flex fl-dir:row gap:2 ai:center">
                <div><a href="">연휴 기간 배송 지연 안내</a></div>
                <div class = "bg-color:accent-1 px:2 py:1 color:base-1 bd-radius:2">긴급</div>
            </div>
            <div class = "color:base-6">2024-01-07</div>
        </div>
    </nav>
    <nav>
        <h1 class="d:none">공지사항 게시글 목록</h1>
        <div class="d:flex fl-dir:column gap:2">
            <div class = "d:flex fl-dir:row gap:2 ai:center">
                <div><a href="">연휴 기간 배송 지연 안내</a></div>
                <div class = "bg-color:accent-1 px:2 py:1 color:base-1 bd-radius:2">긴급</div>
            </div>
            <div class = "color:base-6">2024-01-07</div>
        </div>
    </nav>
    <nav>
        <h1 class="d:none">공지사항 게시글 목록</h1>
        <div class="d:flex fl-dir:column gap:2">
            <div class = "d:flex fl-dir:row gap:2 ai:center">
                <div><a href="">연휴 기간 배송 지연 안내</a></div>
                <div class = "bg-color:accent-1 px:2 py:1 color:base-1 bd-radius:2">긴급</div>
            </div>
            <div class = "color:base-6">2024-01-07</div>
        </div>
    </nav>
    <nav>
        <h1 class="d:none">공지사항 게시글 목록</h1>
        <div class="d:flex fl-dir:column gap:2">
            <div class = "d:flex fl-dir:row gap:2 ai:center">
                <div><a href="">연휴 기간 배송 지연 안내</a></div>
                <div class = "bg-color:accent-1 px:2 py:1 color:base-1 bd-radius:2">긴급</div>
            </div>
            <div class = "color:base-6">2024-01-07</div>
        </div>
    </nav>
    <nav>
        <h1 class="d:none">공지사항 게시글 목록</h1>
        <div class="d:flex fl-dir:column gap:2">
            <div class = "d:flex fl-dir:row gap:2 ai:center">
                <div><a href="">연휴 기간 배송 지연 안내</a></div>
                <div class = "bg-color:accent-1 px:2 py:1 color:base-1 bd-radius:2">긴급</div>
            </div>
            <div class = "color:base-6">2024-01-07</div>
        </div>
    </nav>

</main>

</body>
</html>