<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="admin/inc/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main layout:fragment="main">
        <section>
            <h1>카테고리</h1>

            <ul>
                <li>카테고리 선택</li>
                <li>과채류</li>
                <li>앙념류</li>
                <li>가공식품류</li>
            </ul>
        </section>
        <section>
            <h1>상품 상세</h1>
            <ul>
                <li>
                    <span>상품명</span>
                    <span>배추같은 것들</span>
                </li>
                <li>
                    <span>가격</span>
                    <span>원</span>
                </li>
                <li>
                    <span>중량</span>
                    <span>kg, g</span>
                </li>
                <li>
                    <span>개수</span>
                    <span>개</span>
                </li>
                <li>
                    <span>재고</span>
                    <span>개</span>
                </li>
                <li>
                    <span>수확일</span>
                    <span>수확 날짜 표시</span>
                    <input type="date">

                </li>
                <li>
                    <span>유통기한</span>
                    <span>시작일</span>
                    <input type="date">
                    <span>종료일</span>
                    <input type="date">
                </li>
                <li>
                    <span>상품보관유형</span>
                    <ul>
                        <li>보관유형 선택</li>
                        <li>실온 보관</li>
                        <li>냉장 보관</li>
                    </ul>
                </li>
                <li>
                    <span>상품 설명</span>
                    <span>설명</span>
                </li>
            </ul>
        </section>

        <section>
            <h1>이미지 및 상태</h1>
            <ul>
                <li>사진1</li>
                <li>사진2</li>
                <li>사진3</li>
                <li>사진4</li>
                <li><input type="file"></li>
            </ul>
            <div>
                <div>상태</div>
                <span>활성화</span>
                <input type="checkbox">
            </div>
        </section>

        <section>
            <h1>버튼 모음</h1>
            <div><button>임시저장</button></div>
            <div><button>저장</button></div>
        </section>
    </main>
</body>

</html>